<div class="row no-gutters align-items-center">
  <div class="col-6">
    Was this page helpful to you?
  </div>
  <div class="col-6 text-right">
    <div class="btn-group btn-group-toggle" data-toggle="buttons" data-feedback-toggle>
      <label class="btn flex-fill btn-outline-secondary btn-sm px-3">
        <input name="feedback" autocomplete="off" type="radio"  value=1> Yes
      </label>
      <label class="btn flex-fill btn-outline-secondary btn-sm px-3">
        <input name="feedback" autocomplete="off" type="radio" value=0> No
      </label>
    </div>
  </div>
</div>
