{% comment %}
This appears in the <title> tag and as the title value of social media cards
It defaults value of `title` in _config.yml
To override, add a `title` value to a page's frontmatter.
{% endcomment %}
{%- assign meta_title = page.meta_title
  | default: page.title
  | default: site.title
  | liquify
  | replace:'"', '&quot;'
-%}

{% comment %}
This appears in the "description" meta tag and as the description value of
social media cards
It defaults value of `description` in _config.yml
To override, add a `description` value to a page's frontmatter.
{% endcomment %}
{%- assign meta_description = page.meta_description
  | default: page.description
  | default: site.description
  | liquify
  | strip_html
  | strip_newlines
  | truncate: 160
  | replace:'"', '&quot;'
-%}

{% comment %}
This is the name of a file found in _assets/img/meta/ which will be shown as
feature image in social media cards
It defaults value of `meta_image` in _config.yml
To override, add a `meta_image` value to a page's frontmatter.
{% endcomment %}
{%- assign meta_image = page.meta_image
  | default: site.meta_image
  | prepend: 'meta/'
  | liquify
-%}

{% comment %}
This is the digested asset path of meta_image. This should not be overridden
{% endcomment %}
{%- capture meta_image_asset_url %}{{ site.url }}{{ assets[meta_image].digest_path }}{% endcapture -%}
