<div class="container mt-4 mb-3">
  <div class="row">
  {%- for platform in site.data.platform_icons -%}
    {% capture dynamic_link %}{% link {{ platform.link }} %}{% endcapture %}
    <div class="col-sm-6 col-lg-4 platform-link mb-3">
      <a href="{{ dynamic_link | liquify }}{%- if platform.platform -%}?platform={{ platform.platform }}{%- endif -%}" class="row align-items-center">
        <div class="col-2 col-sm-3 mx-sm-auto">
          {%- include svg/platforms/{{ platform.platformicon | default: "generic" }}.svg -%}
        </div>
        <div class="col-10 col-sm-9 pl-0">
          <h4 class="mb-0">{{ platform.name }}</h4>
        </div>
      </a>
    </div>
  {%- endfor -%}
  </div>
</div>
