{%- assign __root = "collections/_documentation/" -%}

{% comment %}
Categories are represented by top level folders. Group together all documents by
their folder and include any top level documents that match folder names which
may be used for shallow category documents.
{% endcomment %}
{%- assign __documents_by_category = site.documentation
  | group_by_exp: "item", 'item.path | remove: __root | split: "." | first | split: "/" | first'
-%}

{%- for __category in site.data.categories -%}

{%- assign __documents =  __documents_by_category
  | where: 'name', __category.slug
  | first
-%}
{%- assign __documents = __documents.items -%}

{% comment %}
Determine if a document exists at the top level with a slug matching the category.
{% endcomment %}
{%- assign __category_document_path = __root
  | append: __category.slug
  | append: '.md'
-%}
{%- assign __category_document = __documents
  | where: 'path', __category_document_path
  | first
-%}

<div class="list-item mb-5 text-white">

  {%- if __category_document -%}
  <a href="{{ __category_document.url }}" class="sidebar-title d-flex align-items-center mb-2">
    {% include /svg/{{ __category.icon }}.svg %}
    <h6 class="ml-2">
      {{- __category.title -}}
    </h6>
  </a>
  {%- else -%}
  <div class="sidebar-title d-flex align-items-center mb-2">
    {% include /svg/{{ __category.icon }}.svg %}
    <h6 class="ml-2">
      {{- __category.title -}}
    </h6>
  </div>
  {%- endif -%}

  {%- include sidebar/tree.html
    documents=__documents
    relative_to=__root
  -%}

  {% comment %}

  <div class="sidebar-title d-flex align-items-center mb-2">
    {% include /svg/{{ include.category.icon }}.svg %}
    <h6 class="ml-2">{{ include.category.title }}</h6>
  </div>

  {%- if include.category -%}
  <div class="sidebar-title d-flex align-items-center mb-2">
    {% include /svg/{{ include.category.icon }}.svg %}
    <h6 class="ml-2">{{ include.category.title }}</h6>
  </div>
  {%- endif -%}
  {%- assign __docs_paths = include.documents | map: 'path' -%}
  {%- assign __cat_prefix = __docs_paths | lcp -%}
  {%- assign __section_grouped_paths = __docs_paths
    | join: ';'
    | replace: __cat_prefix
    | split: ';'
    | group_by_exp: 'item', 'item | split: "/" | first'
  -%}
  <ul class="sidebar-list category-highlight">
    {%- for __document in include.documents -%}
      {%- assign __segments = __document.path
        | replace: __cat_prefix, ''
        | split: '/'
      -%}

      {%- if __segments.size == 1 -%}
        {%- assign __section = __section_grouped_paths
          | where: 'name', __document.slug
          | first
        -%}
        {%- include sidebar/section.html
          section=__section
          document=__document
          documents=include.documents
        -%}
      {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endcomment -%}
</div>
{%- endfor -%}
