.sdk-config-option {
  padding-top: 10px;
}

.sdk-config-option-details {
  padding-left: 20px;
}

.sdk-option-table {
  --border-radius: 6px;
  margin-top: 1rem;

  width: auto !important;

  // This is necessary to make rounded borders work :(
  border-collapse: separate !important;
  border-spacing: 0;

  & tr th, & tr td {
    border-bottom-width: 0;
    border-right-width: 0;
    padding: .5rem .75rem
  }

  & tr:last-child > * {
    border-bottom-width: 1px;
  }

  & tr > :last-child {
    border-right-width: 1px;
  }

  & :first-child > :first-child {
    border-top-left-radius: var(--border-radius);
  }

  & :first-child > :last-child {
    border-top-right-radius: var(--border-radius);
  }

  & :last-child > :first-child {
    border-bottom-left-radius: var(--border-radius);
  }

  & :last-child > :last-child {
    border-bottom-right-radius: var(--border-radius);
  }
}
