.DropdownMenuContent,
.DropdownMenuSubContent {
  // the portal is rendered outside the area where the font is defined
  font-family: var(--font-rubik);
  min-width: 220px;
  background-color: white;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0px 4px 16px 0px rgba(31, 22, 51, 0.1);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}

.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.DropdownMenuContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.DropdownMenuContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: var(--darkPurple);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 8px 16px;
  position: relative;
  user-select: none;
  outline: none;
}

.DropdownMenuItem[data-highlighted] {
  background-color: var(--accent-purple-light);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
