.alert,
.note {
  background: $desatPurple15;
  border-color: $desatPurple6;
  color: $desatPurple0;
  border-radius: 0;
  border-width: 3px;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  > h5,
  .alert-header,
  .note-header {
    font-weight: bold;
    position: relative;
    font-size: 1em;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  ul {
    padding-inline-start: 2rem;
  }

  p:last-of-type,
  ul:last-of-type {
    margin-bottom: 0;
  }

  .alert-body,
  .note-body {
    font-size: 0.85em;
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(
      theme-color-level($color, -10),
      theme-color-level($color, 0),
      theme-color-level($color, 6)
    );
  }
}
