.highlight {
  .c {
    color: var(--desatPurple9);
  }

  .err {
    background: var(--flame0);
    color: var(--white);
  }

  .k {
    color: var(--brandLink);
  }

  .l {
    color: var(--flame3);
  }

  .n {
    color: var(--brandDecoration);
  }

  .o {
    color: var(--desatPurple4);
  }

  .p {
    color: var(--desatPurple9);
  }

  .cm {
    color: var(--desatPurple9);
  }

  .cp {
    color: var(--desatPurple9);
  }

  .c1 {
    color: var(--desatPurple9);
  }

  .cs {
    color: var(--desatPurple9);
  }

  .gd {
    color: var(--flame0);
  }

  .ge {
    font-style: italic;
  }

  .gh {
    color: var(--desatPurple4);
    font-weight: bold;
  }

  .gi {
    color: var(--jewel0);
  }

  .gp {
    color: var(--jewel0);
    font-weight: bold;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: var(--jewel1);
    font-weight: bold;
  }

  .kc {
    color: var(--brandLink);
  }

  .kd {
    color: var(--brandLink);
  }

  .kn {
    color: var(--jewel1);
  }

  .kp {
    color: var(--lightBlue);
  }

  .kr {
    color: var(--brandLink);
  }

  .kt {
    color: var(--flame6);
  }

  .ld {
    color: var(--jewel0);
  }

  .m {
    color: var(--flame3);
  }

  .s {
    color: var(--jewel0);
  }

  .na {
    color: var(--lightBlue);
  }

  .nb {
    color: var(--lightBlue);
  }

  .nc {
    color: var(--flame6);
  }

  .no {
    color: var(--flame6);
  }

  .nd {
    color: var(--jewel1);
  }

  .ni {
    color: var(--desatPurple4);
  }

  .ne {
    color: var(--flame0);
  }

  .nf {
    color: var(--lightBlue);
  }

  .nl {
    color: var(--desatPurple4);
  }

  .nn {
    color: var(--flame6);
  }

  .nx {
    color: var(--lightBlue);
  }

  .py {
    color: var(--desatPurple4);
  }

  .nt {
    color: var(--jewel1);
  }

  .nv {
    color: var(--flame0);
  }

  .ow {
    color: var(--jewel1);
  }

  .w {
    color: var(--desatPurple4);
  }

  .mf {
    color: var(--flame3);
  }

  .mh {
    color: var(--flame3);
  }

  .mi {
    color: var(--flame3);
  }

  .mo {
    color: var(--flame3);
  }

  .sb {
    color: var(--jewel0);
  }

  .sc {
    color: var(--desatPurple4);
  }

  .sd {
    color: var(--desatPurple9);
  }

  .s2 {
    color: var(--jewel0);
  }

  .se {
    color: var(--flame3);
  }

  .sh {
    color: var(--jewel0);
  }

  .si {
    color: var(--flame3);
  }

  .sx {
    color: var(--jewel0);
  }

  .sr {
    color: var(--jewel0);
  }

  .s1 {
    color: var(--jewel0);
  }

  .ss {
    color: var(--jewel0);
  }

  .bp {
    color: var(--desatPurple4);
  }

  .vc {
    color: var(--flame0);
  }

  .vg {
    color: var(--flame0);
  }

  .vi {
    color: var(--flame0);
  }

  .il {
    color: var(--flame3);
  }
}
