.icon {
  &-1 {
    background-image: url();
    width: 100%;
    height: 100%;
  }

  &-2 {
    background-image: url();
    width: 100%;
    height: 100%;
  }

  &-3 {
    background-image: url();
    width: 100%;
    height: 100%;
  }
  &-error-tracking {
    background-image: url();
    width: 100%;
    height: 100%;
  }

  &-alerting {
    background-image: url();
    width: 100%;
    height: 100%;
  }

  &-workflow {
    background-image: url();
    width: 100%;
    height: 100%;
  }
}
