.flex-row {
  @media only screen and (min-width: 768px) {
    display: flex;

    justify-content: space-between;
    gap: 1rem;

    >* {
      flex: 1 1 0;
    }
  }
}

ul.unstyled-list {
  list-style: none;
  padding: 0;
}

.index-search {
  position: relative;
  max-width: 40rem;
  margin: 3rem auto;

  .sgs-search-results {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }
}

.search-input {
  min-width: 7rem;
}

.index-navbar-wrapper {
  border-color: $desatPurple12;
}

.index-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.75rem 0;

  .index-logo {
    transition: opacity 0.25s ease-out;
    flex: 1 0 100%;
    margin-right: 1rem;
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    line-height: 125%;
    color: $desatPurple1;
    text-decoration: none;

    /* 30px */
    img {
      height: 4rem;
      margin-right: 0.5rem;
      display: inline-block;
    }

    &:hover {
      opacity: 0.75;
    }

    @media only screen and (min-width: 576px) {
      flex: none;
    }
  }

  .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75rem 1rem;
  }

  .navbar-nav {
    flex-direction: row;
    text-align: center;
    margin: 0 auto;

    @media only screen and (min-width: 576px) {
      margin: 0;
    }

    .btn {
      margin-left: 1rem;
    }
  }
}
