// the checkbox controls the sidebar visibility on mobile
// otherwise it's always visible on desktop
@media only screen and (max-width: 1024px) {
  #navbar-menu-toggle:checked~.sidebar {
    display: flex;
  }

  #navbar-menu-toggle:not(:checked)~.sidebar {
    display: none;
  }
}

:root {
  --sidebar-width: 300px;
}

.sidebar {
  top: 20px;
  bottom: 0;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  padding: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  background: var(--white);
  display: none;
  flex-shrink: 0;
  height: 100vh;

  @media only screen and (min-width: 700px) {
    position: sticky;
    left: 0;
    top: var(--header-height, 80px);
    width: 300px;
    height: calc(100vh - var(--header-height, 80px));
    display: flex;
  }

  ul+hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .toc {
    font-size: 0.875rem;
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;

    // &::-webkit-scrollbar {
    //   width: 10px;
    // }

    // https://stackoverflow.com/questions/35484742/hide-useless-scrollbars-that-show-up-on-windows-only
    &:hover {
      overflow-y: auto;
    }

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  .toc-item {
    padding-left: 0;

    a {
      padding: 0.5rem;
    }
  }

  .toc-item .toc-item {
    padding-left: 0.75rem;
  }
}

.doc-toc {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  font-size: 0.8rem;

  .toc-entry ul {
    margin-bottom: 0;
  }
}

[data-sidebar-branch] [data-sidebar-branch]>[data-sidebar-tree] {
  margin-bottom: 0;
}

[data-sidebar-link] {
  position: relative;
  line-height: 1.5;
  border-radius: 0.125em;
  color: var(--desatPurple0);
  padding: 0.25em 0.5em;
  opacity: 0.8;
  text-decoration: none;
  transition: var(--transition-time) ease-out;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: var(--accent-purple);
    background-color: var(--accent-purple-light);
  }

  &.active {
    opacity: 1;
    color: var(--white);
    background-color: var(--accent-purple);
    border-radius: 4px;
  }
}

.doc-toc {
  a {
    position: relative;
    line-height: 1.5;
    display: block;
    border-radius: 0.125em;
    color: var(--desatPurple3);
    padding: 0.25em 0;
    opacity: 0.8;
    text-decoration: none;
    transition: var(--transition-time) ease-out;

    &:hover {
      opacity: 1;
      text-decoration: none;
      color: var(--desatPurple3);
    }
  }

  .active>a {
    opacity: 1;
    background-color: inherit;
    color: var(--brandLink);
    border-radius: 4px;

    &:hover {
      color: var(--brandLink);
    }
  }
}

.sidebar-title,
.doc-toc-title {
  opacity: 1 !important;
  font-weight: 500;
  margin-bottom: 2px;

  svg {
    height: 100%;
    min-height: 1.5em;
    min-width: 1.5em;
    max-height: 1.5em;
    max-width: 1.5em;
    width: 100%;
  }

  &.active {
    background-color: var(--brandDecoration);

    h6 {
      color: #fff;
    }
  }

  h6 {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: inherit;
  }
}

.doc-toc-title {
  margin-bottom: 0.25rem;
}

#sidebar {
  // Work around Firefox bug
  // https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/
  min-height: 0;
}

.section-nav {
  list-style-type: none;
  padding-left: 0;

  ul {
    list-style-type: none;
    padding-left: 0.75rem;
  }
}
