.sidebar {
  top: 0;
  bottom: 0;
  flex-direction: column;
  display: flex;
  width: 100%;
  z-index: 10;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.02);

  @media only screen and (min-width: 768px) {
    position: fixed;
    width: 22rem;
  }

  #sidebar {
    background: var(--white);

    @media only screen and (min-width: 768px) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
      max-height: initial;
      border-bottom: none;
      box-shadow: none;
    }

    .guide-grid:has(*) {
      max-height: 30vh;
      overflow-y: auto;
      margin-bottom: 1rem;

      .section-nav {
        margin-bottom: 0;
      }
    }
  }

  .global-header {
    flex-shrink: 0;
  }

  .platform-selector {
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
  }

  .toc {
    font-size: 0.875rem;
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;

    // &::-webkit-scrollbar {
    //   width: 10px;
    // }

    // https://stackoverflow.com/questions/35484742/hide-useless-scrollbars-that-show-up-on-windows-only
    &:hover {
      overflow-y: auto;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .toc-item {
    padding-left: 0;

    a {
      padding: 0.5rem;
      font-weight: bold;
    }
  }

  .toc-item .toc-item {
    padding-left: 0.75rem;
  }
}

.doc-toc {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  font-size: 0.8rem;

  .toc-entry ul {
    margin-bottom: 0;
  }
}

[data-sidebar-branch] [data-sidebar-branch]>[data-sidebar-tree] {
  margin-bottom: 0;
}

[data-sidebar-link] {
  position: relative;
  line-height: 1.5;
  border-radius: 0.125em;
  color: var(--desatPurple0);
  padding: 0.25em 0.5em;
  opacity: 0.8;
  text-decoration: none;
  transition: var(--transition-time) ease-out;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: var(--desatPurple3);
    background-color: var(--desatPurple14);
  }

  &.active {
    opacity: 1;
    background: var(--color-purples-V-Lt-Purple);
    border-radius: 4px;
  }
}

.doc-toc {
  a {
    position: relative;
    line-height: 1.5;
    display: block;
    border-radius: 0.125em;
    color: var(--desatPurple3);
    padding: 0.25em 0;
    opacity: 0.8;
    text-decoration: none;
    transition: var(--transition-time) ease-out;

    &:hover {
      opacity: 1;
      text-decoration: none;
      color: var(--desatPurple3);
    }
  }

  .active>a {
    opacity: 1;
    background-color: inherit;
    color: var(--brandLink);
    border-radius: 4px;

    &:hover {
      color: var(--brandLink);
    }
  }
}

.sidebar-title,
.doc-toc-title {
  color: var(--desatPurple6) !important;
  opacity: 1 !important;
  padding: 0.5rem;
  margin-bottom: 2px;

  svg {
    height: 100%;
    min-height: 1.5em;
    min-width: 1.5em;
    max-height: 1.5em;
    max-width: 1.5em;
    width: 100%;
  }

  &.active {
    background-color: var(--brandDecoration);

    h6 {
      color: #fff;
    }
  }

  h6 {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: inherit;
  }

  &:hover {
    color: var(--desatPurple0);
  }
}

.doc-toc-title {
  margin-bottom: 0.25rem;
}

#sidebar {
  // Work around Firefox bug
  // https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/
  min-height: 0;
}

.section-nav {
  list-style-type: none;
  padding-left: 0;
  border: 2px solid red;

  ul {
    list-style-type: none;
    padding-left: 0.75rem;
  }
}
