.steps {
  border-radius: 4px;
  border: 1px solid $purple;
  line-height: 1em;

  .row {
    position: relative;
  }

  .col-sm {
    margin: 0;
    padding: 0;
    position: relative;

    &:before {
      background: $purple;
      content: '';
      height: 0;
      overflow: hidden;
      padding-bottom: 5%;
      padding-left: 5%;
      padding-top: 5%;
      position: fixed;
      width: 0;
    }
    &:after {
      border-bottom: 20px solid transparent;
      border-left: 20px solid #4679bd;
      border-top: 20px solid transparent;
      content: '';
      display: inline;
      float: left;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
