
.btn-wrapper{
  display: flex;
  gap: 16px;
}

.try-btn {
  align-items: center;
  border: .125rem solid transparent;
  border-radius: .5rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: .875rem;
  font-style: normal;
  font-weight: 700;
  gap: .25rem;
  height: 2.5rem;
  justify-content: center;
  line-height: 1rem;
  outline: 0;
  padding: .75rem 1rem;
  position: relative;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.signup-btn {
  background: linear-gradient(120deg,#fa7faa,#ff9691 25%,#ffb287 50%,#fff 55%,#fff);
  background-position: 98% 0;
  background-size: 250% 100%;
  border-color: transparent;
  border-radius: .5rem;
  box-shadow: none;
  color: #1f1633;
  outline: 0 solid #fa7faa;
  outline-offset: .125rem;
  transition: background-position .2s,outline-width .2s;
  
  &:hover {
    background-position: 2% 0;
  }
  
  &:focus {
    background: #ffa269;
    outline-width: .125rem
  }
  
}

.demo-btn {
  background: linear-gradient(120deg,#c83852,#b44092 25%,#6a5fc1 50%,transparent 55%,transparent);
  background-clip: padding-box;
  background-position: 98% 0;
  background-size: 250% 100%;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  outline: 0 solid #fa7faa;
  outline-offset: .125rem;
  position: relative;
  transition: background-position .2s,outline-width .2s;
  z-index: 0;
  
  &:before {
    background: linear-gradient(11deg,#fa7faa,#ff9691 50%,#ffb287);
    border-radius: .5rem;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 0.125rem;
    position: absolute;
    transition: opacity .2s;
    z-index: -1
  }

  &:hover {
    background-position: 2% 0
  }
  
  &:hover:before {
    opacity: 0
  }

  &:focus {
    background: #ffa269;
    outline-width: .125rem
  }
}
.try-sentry-cta-wrapper{
  background-image: radial-gradient(52.19% 95.83% at 50.00% 100.82%, #8D5494 0%, #1F1633 100%);
}