# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# See https://github.com/getsentry/sentry-docs/pull/13662 on how commented codeowners are tagged

# Requiring review from security team for Content-Security-Policy changes
**/vercel.json @getsentry/security

# Codeowners listed below are used as a reference for the Sentry team to know who to contact for a given area of the codebase.

# /docs/platforms/android/ @getsentry/team-mobile-core
# /docs/platforms/apple/ @getsentry/team-mobile-core
# /docs/platforms/dart/ @getsentry/team-mobile-cross-platform
# /docs/platforms/react-native/ @getsentry/team-mobile-cross-platform
# /docs/platforms/javascript/guides/cordova/ @getsentry/team-mobile-cross-platform

# /docs/platforms/dotnet/ @getsentry/gdx
# /docs/platforms/godot/ @getsentry/gdx
# /docs/platforms/nintendo-switch/ @getsentry/gdx
# /docs/platforms/playstation/ @getsentry/gdx
# /docs/platforms/powershell/ @getsentry/gdx
# /docs/platforms/unity/ @getsentry/gdx
# /docs/platforms/unreal/ @getsentry/gdx
# /docs/platforms/xbox/ @getsentry/gdx

# /docs/platforms/java/ @getsentry/team-web-sdk-backend
# /docs/platforms/native/ @getsentry/product-owners-sdks-native
# /docs/platforms/rust/ @getsentry/team-web-sdk-backend

# /docs/product/explore/discover-queries/ @getsentry/visibility
# /docs/product/insights/ @getsentry/insights

# /docs/cli/ @getsentry/team-web-sdk-backend

# /.github/labels.yml @getsentry/dev-infra
# /.github/workflows/react-to-product-owners-yml-changes.yml @getsentry/dev-infra

# ###### Replays #######

# /docs/product/explore/session-replay/web                              @jas-kas @getsentry/replay-sdk-web @getsentry/replay-frontend @getsentry/replay-backend
# /docs/product/explore/session-replay/mobile                           @jas-kas @getsentry/replay-sdk-mobile @getsentry/replay-frontend @getsentry/replay-sdk-mobile
# /includes/session-replay-web-report-bug.mdx                   @getsentry/replay-sdk-web
# /platform-includes/session-replay/                            @getsentry/replay-sdk-web @getsentry/replay-sdk-mobile
# /docs/platforms/javascript/common/session-replay/                  @getsentry/replay-sdk-web

# /docs/product/sentry-toolbar/                                    @ryan953 @jas-kas

# ###### End Replays #######
