# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/apple/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/dart/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia
/src/platforms/java/ @bruno-garcia @marandaneto

/src/platforms/native/ @getsentry/owners-native
/src/platforms/rust/ @getsentry/owners-native

/src/platforms/javascript/ @getsentry/team-webplatform

/src/docs/product/discover-queries/ @getsentry/visibility
/src/docs/product/performance/ @getsentry/visibility

/src/docs/product/cli/ @kamilogorek
/src/docs/product/cli/releases/ @getsentry/team-webplatform
/src/docs/product/cli/dif/ @getsentry/owners-native
