.alert {
  padding: 1.25em;

  h5, .h5 {
    font-size: 1em;
  }

  p, .p {
    font-size: 0.85em;
  }

  &-warning {
    background-color: $flame8;
    border-color: $flame7;
  }

  p {

    &:last-child {
      margin-bottom: 0;
    }
  }
}
