.breadcrumb {
  padding: 0;
  margin: 0;
  height: 3em;

  @include media-breakpoint-down(md) {
    padding-left: 15px;
  }

  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    border-radius: 4px;
    border: 1px solid transparent;
    color: $gray-600;
    padding: 0.125em 0.5em;
    transition: all 0.125s ease-out;

    &:hover {
      background: transparent;
      border-radius: 4px;
      border: 1px solid transparent;
      box-sizing: border-box;
      color: $purple;
      text-decoration: none;
    }

    &:active {
      background: $gray-500;
      border-radius: 4px;
      border: 1px solid $gray-500;
      box-sizing: border-box;
      color: $gray-100;
      padding: 0.125em 0.5em;
    }
  }

  span {
    color: $gray-600;
    padding: 0.125em 0.5em;
  }

  &-item.active {
    cursor: default;

    span {
      background: $purple;
      border-radius: 4px;
      border: 1px solid $purple;
      color: $white;
      text-decoration: none;
      transition: background 0.125s ease-out;
    }
  }

  &-item + .breadcrumb-item {
    &::before {
      content: '›';
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.breadcrumb-push {
  padding-top: 3em;
}
