.breadcrumb {
  background: transparent;
  margin-left: -0.75em;
  margin-top: -0.25em;
  padding: 0.125em 0;

  a {
    border-radius: 500px;
    border: 1px solid transparent;
    color: $gray-600;
    padding: 0.25em 0.75em;
    transition: background 0.125s ease-out;

    &:hover {
      background: $purple;
      border: 1px solid $purple;
      color: $white;
      text-decoration: none;
      transition: background 0.125s ease-out;
    }

    &:active {
      background: $gray-800;
      border-color: $gray-900;
      color: $white;
    }
  }

  &-item.active {
    cursor:not-allowed;

    span {
      background: transparent;
      border-radius: 500px;
      border: 1px solid $purple;
      box-sizing: border-box;
      color: $purple;
      padding: 0.25em 0.75em;
    }
  }

  &-item+.breadcrumb-item {
    &::before {
      content: "›";
      opacity: 0.5;
    }
  }
}
