.content {

  h1, h2, h3, h4, h5 ,h6, p, ul, li, code {
    max-width: 55em;
  }

  p {
    margin-bottom: 2em;
  }
  hr {
    margin: 4em 0;
  }

  ul {
    margin-left: 1em;
    padding: 0;
  }

  li {
    margin-bottom: 1em;

  }
  & > .container {
    margin: 0;
    max-width: 50em;
    padding: 0;
    padding-top: 5em;
  }
}
