.navbar {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 3px 15px 0 rgba(24,19,33,0.06), 0 3px 5px 0 rgba(0,0,0,0.05), inset 0 2px 0 1px rgba(255,255,255,0.5);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $white;
  z-index: 99;

  .container {
    max-width: 100%;
    margin: 0;
  }
  
  .btn {
    font-size: 1em;
  }
}

#header {
  height: 4em;
  position: relative;
  z-index: 10;
}

.navbar-brand {
  display: inline-block;
  font-size: 0.5rem;
  line-height: inherit;
  margin-right: 0;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
  white-space: nowrap;
  width: 150px;

  svg {
      height: 100%;
      width: 100%;
  }
}
