.global-header {
  &:before {
    display: block;
    content: '';
    background-color: $white;
    width: 10px;
    left: -5px;
    height: 100%;
    position: absolute;
  }
}

.content-max {
  box-sizing: content-box;
  max-width: 1000px;
}

@include media-breakpoint-up(md) {
  html,
  body {
    height: 100%;
  }

  .overflow-md-scroll {
    overflow: scroll;
  }

  .document-wrapper {
    display: flex;
    max-height: 100%;

    > main {
      flex-direction: column;
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  .sidebar {
    flex-basis: 260px;
    flex-shrink: 0;
  }
}
