.container-fluid-limited {
  max-width: 60em;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

.main-content {
  text-rendering: optimizeLegibility;
  padding-top: 5em;
}

main {
  font-family: 'Karla', sans-serif;
}
