.platform-specific-content .dropdown-menu {
  display: none;

  &.show {
    display: block;
  }
}

.unsupported.is-unsupported {
  opacity: 0.5;

  .unsupported-hint {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
}
