.pre {
  background: #F5FAFE;
  border-radius: 4px;
  border: 1px solid #C8CBD1;
  box-shadow: 0 2px 4px 0 rgba(24,19,33,0.05);
  transition: 0.125s ease-out;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(24,19,33,0.06), 0 3px 5px 0 rgba(0,0,0,0.05), inset 0 2px 0 1px rgba(255,255,255,0.25);
  }

  p {
    font-size: 1em;
  }
}
