.process {
  background: $gray-900;
  border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transition: 0.125s all ease-out;

  @include media-breakpoint-down(sm) {
    display: block;
    max-width: 100%;
    z-index: 0;
  }

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(24,19,33,0.06), 0 3px 5px 0 rgba(0,0,0,0.05), inset 0 2px 0 1px rgba(255,255,255,0.25);
    cursor: pointer;
  }

  &:after {
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px $gray-500;
    content: "";
    display: block;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .col {
    border-right: 1px solid $gray-500;
    box-shadow: -1px 0 #b9b2d0;

    @include media-breakpoint-down(sm) {
      border-right: none;
      width: 100%;
      flex-basis: 1;
      box-shadow: 0 -1px $gray-500;
    }

    &:hover {
      background: $gray-200;
      transition: 0.125s all ease-out;

      &:after {
        transition: 0.125s all ease-out;
        background: #6c5fc7;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 3;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}
