#hits {
  position: absolute;
  width: 12rem;
  max-width: 80%;
  z-index: 5;
  
  > div {
    position: relative;
  }
}

.ais-Highlight {
  color: $highlightPurple;
}

.search-results {
  font-size: 14px;

  h6 .badge {
    vertical-align: middle;
    margin-left: 5px;

    &.badge-secondary {
      color: $lightText;
      background: $white;
    }
  }

  @include media-breakpoint-up(md) {
    width: 300%;
  }
}

#search-clickplate {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
