#hits {
  position: relative;

  .list-group {
    position: absolute;
    z-index: 5;
  }
}

.ais-Highlight {
  color: $highlightPurple;
}

.search-results {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    width: 200%;
  }
}
