.sidebar {
  position: relative;
  min-height: 100%;
  flex-direction: column;
  display: flex;

  .global-header {
    flex-shrink: 0;
  }

  .toc {
    flex: 1;
    overflow: auto;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .toc-item {
    padding-left: $spacer * 0.5;
  }

  ul a {
    position: relative;
    line-height: 1.5;
    display: block;
    border-radius: 0.125em;
    color: $desatPurple13;
    padding: 0.25em 0;
    opacity: 0.8;
    text-decoration: none;
    transition: $transition-time ease-out;

    &:hover {
      opacity: 1;
      color: $highlightPurple;
      text-decoration: none;

      &:after {
        width: 4px;
      }
    }

    &:after {
      position: absolute;
      content: '';
      right: -1.5rem;
      width: 0px;
      background-color: $satPurple0;
      height: 1.5em;
      transition: width $transition-time ease-out;
    }

    &.active {
      color: $white;
      opacity: 1;

      &:after {
        width: 4px;
      }
    }
  }

  .sidebar-title {
    color: $white;
    opacity: 1 !important;

    svg {
      height: 100%;
      min-height: 1.5em;
      min-width: 1.5em;
      max-height: 1.5em;
      max-width: 1.5em;
      width: 100%;
    }

    h6 {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &:hover {
      color: $white;
    }
  }
}
