.sidebar {
  display: block;
  max-width: 18em;
  padding-top: 5em;
  position: relative;

  &-title {
    svg {
      color: #DCD9F4;
      opacity: 0.75;
    }
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .badge {
    box-shadow: inset 0 0px 2px rgba(255,255,255,0.5);
    line-height: 1.25em;
    margin-right: 0.75em;
    margin: 0;
    padding: 0.25em 0.75em;
  }

  .h6, h6 {
    color: #DCD9F4;
    font-size: 1em;
    line-height: 1.25em;
    margin: 0;
    padding-bottom: 0.125em;
    padding-top: 0.125em;
    text-transform: uppercase;
  }

  .ul, ul {
    list-style-type:none;
    margin: 0;
    opacity: 0.5;
    padding: 0;
    transition: 0.25s ease-out;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: "";
      position: relative;
    }

    &:hover {

    }
  }

  .li, li {
    border-radius: 0.125em;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #E8E6F6;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
    margin-left: 0.125em;
    padding: 0.125em 0.25em;
    margin-left: -0.125em;
    list-style-type: none;
    list-style: none;
    opacity: 0.5;
    position: relative;
    text-decoration: none;
    text-indent: none;
    transition: 0.25s ease-out;
    width: auto;
    z-index: 2;
    position: relative;

    &:hover {
      opacity: 1;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      opacity: 0;
      transition: all 0.125s ease-out;
    }

    &:before {
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background-image: linear-gradient(30deg, rgba(250,249,251,0.00) 25%, #B1A3F1 100%);
      z-index: -1;
      border-radius: 0.125em;
    }

    &:after {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(30deg, #342c3e 0%, #3C3551 100%);
      z-index: -1;
      border-radius: 2px;
    }

    &:hover {

      &:before, &:after {
        content: "";
        position: absolute;
        opacity: 1;
      }
    }
  }
}
