.tile {
  border-radius: 4px;
  border: 1px solid $desatPurple9;
  box-shadow: 0 2px 4px 0 rgba(24,19,33,0.05);
  transition: $transition-time ease-out;

  &:hover {
    cursor: pointer;
    background: $purple;
    border-color: $purple;
    color: $white;
  }

  .icon {
    height: 3em;
    width: 3em;
  }
}
