.title {
  border-bottom: 1px solid $gray-300;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: -15px;
  margin-right: -15px;
  position: fixed;
  width: 100%;
  z-index: 2;

  & > .container {
    margin: 0;
    width: 100%;
  }
}
