.title {
  border-bottom: 1px solid $gray-300;
  margin-left: -15px;
  margin-right: -15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: fixed;
  z-index: 2;
  width: 100%;

  h1, h2, h3, h4, h5, h6, p {
    max-width: 55em;
  }

  & > .container {
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
  }
}
