.prose {
  hr {
    margin: 4em 0;
  }

  ul {
    margin-left: 1em;
    padding: 0;
  }
}

// Remove the bottom margin from the final direct child.
//
// Example:
//
//  <.content-flush-bottom>
//    <p>This paragraph has a normal bottom margin</p>
//    <p>This paragraph does not have a bottom margin</p>
//  </.content-flush-bottom>
.content-flush-bottom > *:last-child {
  margin-bottom: 0;
}
