/*

  Base color ranges

  Do not reference these directly in css rules. Create new, human-friendly
  variables that reference them.

*/

// A range of flame tones, from a saturated red to a light orange-peach.

$flame0:                        #e03e2f; // ^ Red
$flame1:                        #e54e39; // |
$flame2:                        #ec5e44; // |
$flame3:                        #f36e4f; // | Red-orange
$flame4:                        #f58159; // |
$flame5:                        #f79464; // |
$flame6:                        #f9a66d; // | Orange-peach
$flame7:                        #e6d1c1; // | Desat Peach
$flame8:                        #feeee2; // v Peach

// A range of desaturated purples

$desatPurple0:                  #16111c; // ^ Dark purple
$desatPurple1:                  #241c2c; // |
$desatPurple2:                  #342c3e; // |
$desatPurple3:                  #463e52; // |
$desatPurple4:                  #564f64; // |
$desatPurple5:                  #675f76; // |
$desatPurple6:                  #777088; // |
$desatPurple7:                  #888099; // |
$desatPurple8:                  #9990ab; // |
$desatPurple9:                  #a8a1bd; // |
$desatPurple10:                 #b9b2d0; // |
$desatPurple11:                 #c9c2e1; // |
$desatPurple12:                 #dbd3e9; // v Light purple
$desatPurple13:                 #e4dff2;
$desatPurple14:                 #f0e9ff;
$desatPurple15:                 #faf8ff;

// A range of saturated purples

$satPurple0:                    #6c5fc7;
$satPurple1:                    #423b87;

// A pair of green/teal colors

$jewel0:                        #57be8c; // Light green-teal
$jewel1:                        #2e7d6f; // Dark green-teal


/*

  Color variables

*/

$white:                         #ffffff;
$linkColor:                     #5d91c9;
$highlightPurple:               $satPurple0;
$lightPurple:                   $desatPurple11;
$lightestPurple:                $desatPurple12;
$mediumPurple:                  $desatPurple6;
$darkestPurple:                 $desatPurple0;
$darkPurple:                    $desatPurple2;
$boldRed:                       $flame0;
$textDecorationPurple:          $satPurple1;
$lightestPurpleBackground:      rgba($desatPurple12, .2);
$successGreen:                  $jewel0;
$lightText:                     #9093c1;

$transition-time:               0.125s;
