{% capture __alert %}
<div class="alert{% if include.level %} alert-{{ include.level }}{% endif %}" role="alert">
  {%- if include.dismiss -%}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {%- endif -%}
  {%- if include.title -%}<h5>{{- include.title -}}</h5>{%- endif -%}
  <div class="alert-body content-flush-bottom">
    {{ include.content | markdownify }}
  </div>
</div>
{% endcapture -%}
{{- __alert | strip_newlines }}
