{%- assign __uniq = include.content | jsonify | md5 -%}
{%- assign __valid_platforms = site.Array -%}
{%- assign __invalid_platforms = site.Array -%}
{%- assign __platforms = site.Array -%}
{%- assign __file_name = page.path
  | file_name
-%}
{%- assign __base = page.relative_path
  | remove: __file_name
  | prepend: '/'
  | prepend: site.collections_dir
  | prepend: '/'
-%}
{%- assign __dir = page.relative_path
  | remove: __file_name
  | append: include.content_dir
  | append: '/'
-%}
{%- assign __includes = site.documents
  | map: 'path'
  | where_exp: "item", 'item contains __dir'
-%}

{%- for __include in __includes -%}
  {%- assign __CONTEXT_slug = __slug -%}
  {%- assign __CONTEXT_platform_object = __platform_object -%}

  {% comment %}
  We need to ensure the platforms match the approved list of platforms so we can
  utilize their tokens across sites.
  {% endcomment %}
  {%- assign __slug = __include | file_slug
  -%}
  {%- assign __platform_object = site.data.platforms
    | where: 'slug', __slug
    | first
  -%}
  {% if __platform_object %}
    {%- assign __valid_platforms = __valid_platforms | push: __include -%}
  {%- else -%}
    {%- assign __invalid_platforms = __invalid_platforms | push: __include -%}
  {%- endif -%}

  {%- assign __slug = __CONTEXT_slug -%}
  {%- assign __platform_object = __CONTEXT_platform_object -%}
{%- endfor -%}

{%- assign __platforms = __valid_platforms | ci_sort -%}

{%- if __platforms.size >= 1 and include.content_dir -%}

{%- assign __default_path = __platforms | first -%}
{%- assign __default = site.data.platforms
  | where: 'slug', __slug
  | first
-%}

<div class="platform-specific-content" data-platform-specific-content>
  <div class="nav pb-1 flex">
    <div class="dropdown mr-2 mb-1">
      <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="{{ __uniq }}-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-not-dynamic data-platform-switcher-target>
        {{ __default.name }}
      </a>

      <div class="nav dropdown-menu" id="{{ __uniq }}-tab" role="tablist" aria-hidden="true">
        {%- for __example_path in __platforms -%}
          {%- if __default_path == __example_path -%}
          {% assign __is_default = true %}
          {%- else -%}
          {% assign __is_default = false %}
          {%- endif -%}
          {%- assign __slug = __example_path | file_slug -%}
          {%- assign __platform = site.data.platforms
            | where: 'slug', __slug
            | first
          -%}
          <a class="dropdown-item{% if __is_default %} active{% endif %}" id="{{ __uniq }}-{{ __slug }}-tab" data-platform="{{ __slug }}" data-toggle="platform" href="#{{ __uniq }}-{{ __slug }}" role="tab" aria-controls="{{ __uniq }}-{{ __slug }}" aria-selected="{% if __is_default %}true{% else %}false{% endif %}" data-not-dynamic>{{ __platform.name }}</a>
        {%- endfor -%}
        <a class="dropdown-item" href="/platforms/" data-toggle="tooltip" data-placement="right" title="Click to see other platforms we support but that don't follow the unified&nbsp;API"><em>Platform not listed?</em></a>
      </div>
    </div>
  </div>

  <div class="tab-content" id="{{ __uniq }}-tabContent">
    {%- for __example_path in __platforms -%}
      {%- if __default_path == __example_path -%}
      {% assign __is_default = true %}
      {%- else -%}
      {% assign __is_default = false %}
      {%- endif -%}
      {%- assign __slug = __example_path | file_slug -%}
      {%- assign __name = __example_path | file_name -%}
      {%- assign __relative_path = include.content_dir
        | append: "/"
        | append: __name
      -%}
      {%- capture __content -%}
      {% include_relative {{ __relative_path }} %}
      {%- endcapture -%}
      <div class="tab-pane{% if __is_default %} show active{% endif %}" id="{{ __uniq }}-{{ __slug }}" data-slug="{{ __slug }}" role="tabpanel" aria-labelledby="{{ __uniq }}-{{ __slug }}-tab">
        {{ __content | strip_front_matter | markdownify }}
      </div>
    {%- endfor -%}
  </div>
</div>

{%- endif -%}

{%- comment -%}
////////////////////////////////////////////////////////////////////////////////
Error messages for development mode
////////////////////////////////////////////////////////////////////////////////
{%- endcomment -%}


{%- if jekyll.environment == 'development' -%}

  {%- if include.content_dir -%}
    {%- unless __includes.size > 0 -%}
      {%- capture __alert -%}
        The folder <strong>{{ __dir }}</strong> is empty.
      {%- endcapture -%}
      {%- include components/alert.html
        title="Module error"
        level="warning"
        content=__alert
      -%}
    {%- endunless -%}
  {%- else -%}
    {%- include components/alert.html
      title="Module error"
      level="warning"
      content="The component <strong>components/platform_content.html</strong> requires a value for <code>content_dir</code>."
    -%}
  {%- endif -%}

  {%- if __invalid_platforms.size > 0 -%}
    {%- capture __alert -%}
      The following examples were found but not rendered because they do not match a slug in <em>_data/platforms.yml</em>:
      {%- for __slug in __invalid_platforms %}
        <code>{{ __slug }}</code>
      {%- endfor -%}
    {%- endcapture -%}
    {%- include components/alert.html
      title="Module error"
      level="warning"
      content=__alert
    -%}
  {%- endif -%}

{%- endif -%}
