{% capture __alert %}
<div class="alert{% if include.level %} alert-{{ include.level }}{% endif %}" role="alert"{% if include.deep_link %} id="{{ include.deep_link }}"{% endif %}>
  {%- if include.dismiss -%}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {%- endif -%}
  {%- if include.title -%}<h5 class="no_toc">{{- include.title -}}</h5>{%- endif -%}
  <div class="alert-body content-flush-bottom">
    {%- comment -%}
    Since this include renders markdown, and then the page itself renders
    markdown, the content of this include can cause rendering issues due to
    indents and newlines. To combat this, we replace any post-markdown-process
    newlines with spaces.

    Liquid doesn't understand \n so we have to capture a new line manually. The
    indentation is important, so make sure there are no spaces before endcapture
    {%- endcomment -%}
{%- capture newline %}
{% endcapture -%}
    {{- include.content -}}
  </div>
</div>
{% endcapture -%}
{{- __alert -}}
