<!doctype html>
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = './' %}{% endif %}
<html>
<head>
  <meta charset="{{ encoding }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ metatags }}

  {%- block htmltitle %}
    {% if pagename != 'index' %}
      <title>{{ title|striptags|e }} &ndash; {{ {
        'hosted': 'Sentry Documentation',
        'on-premise': 'Sentry On-Premise Documentation'
      }[sentry_doc_variant] }}</title>
    {% else %}
      <title>{{ title|striptags|e }}</title>
    {% endif %}
  {%- endblock %}

  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css">
  <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css">

  <script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
      URL_ROOT:    '{{ url_root }}',
      VERSION:     '{{ release|e }}',
      COLLAPSE_INDEX: false,
      FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
      HAS_SOURCE:  {{ has_source|lower }},
      SENTRY_DOC_VARIANT: '{{ sentry_doc_variant }}'
    };
  </script>

  <script type="text/javascript" src="{{ pathto('_static/vendor.js', 1) }}"></script>
  <script type="text/javascript" src="{{ pathto('_static/app.js', 1) }}"></script>
  {%- if use_opensearch %}
  <link rel="search" type="application/opensearchdescription+xml"
        title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}"
        href="{{ pathto('_static/opensearch.xml', 1) }}"/>
  {%- endif %}
  {%- if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}">
  {%- endif %}
  {%- block extrahead %} {% endblock %}
</head>
<body>
  <div class="body">
    <div class="container page">
      <nav class="sidebar" id="nav" role="navigation">
        <a class="toggle-navigation"><span class="icon-search"></span></a>

        <div class="edition-select btn-group">
          <a href="{{ link_to_edition('hosted') }}"
             class="btn btn-default{% if sentry_doc_variant == 'hosted' %} active{% endif %}">Hosted Sentry</a>
          <a href="{{ link_to_edition('on-premise') }}"
             class="btn btn-default{% if sentry_doc_variant == 'on-premise' %} active{% endif %}">On-Premise</a>
        </div>

        <div class="sidebar-content">
          <a href="{{ pathto(master_doc) }}" class="logo"><span class="icon-logo"></span></a>
          {% set toc_parts = build_toc(
              split_toc={
                'learn': ['learn/rollups', 'learn/context', 'learn/search', 'learn/sensitive-data', 'learn/notifications', 'learn/sso'],
                'misc': ['history', 'ssl', 'ip-ranges'],
                'clients': ['clients/index'],
                'api': ['api/requests', 'api/auth', 'api/pagination'],
                'api_endpoints': ['api/events/index', 'api/organizations/index', 'api/projects/index', 'api/releases/index', 'api/teams/index'],
                'dev': ['api/index', 'clientdev/index', 'license', 'docdev', 'project-resources'],
              }
          ) %}
          {% if pagename.startswith('api/') %}
          <a href="{{ pathto(master_doc) }}" class="return-link">Return to Docs Overview</a>
          <h3>Web API</h3>
          <div class="toc global-toc">
            <ul>
              <li><a href="{{ pathto('api/index') }}" class="reference internal{%
                if pagename == 'api/index' %} current{% endif %}">Overview</a></li>
            </ul>
            {{ toc_parts.api }}
          </div>
          <h3>Endpoints</h3>
          <div class="toc">
            {{ toc_parts.api_endpoints }}
          </div>
          {% else %}
          <div class="toc global-toc">
            <ul>
              <li><a href="{{ pathto(master_doc) }}" class="reference internal{%
                if pagename == master_doc %} current{% endif %}">Overview</a></li>
            </ul>
            {{ toc_parts.main }}
          </div>
          <h3>Learn</h3>
          <div class="toc dev-toc">
            {{ toc_parts.learn }}
          </div>
          <div class="toc client-toc">
            {{ toc_parts.clients }}
          </div>
          <h3>Development</h3>
          <div class="toc dev-toc">
            {{ toc_parts.dev }}
          </div>

          <h3>Meta</h3>
          <div class="toc discover-toc">
            <ul>
              <li><a href="{{ pathto('ssl') }}" class="reference internal{%
                if pagename == 'ssl' %} current{% endif %}">SSL</a></li>
              <li><a href="https://getsentry.com/pricing/">Pricing</a></li>
              <li><a href="http://blog.getsentry.com/">Blog</a></li>
              <li><a href="{{ pathto('history') }}" class="reference internal{%
                if pagename == 'history' %} current{% endif %}">History</a></li>
              <li><a href="{{ pathto('sitemap') }}" class="reference internal{%
                if pagename == 'sitemap' %} current{% endif %}">Sitemap</a></li>
            </ul>
          </div>
          {% endif %}
        </div>
      </nav>

      <section class="document">
        <div class="page-content">
          {% if sentry_support_level %}
            <div class="sentry-support-level sentry-support-level-{{ sentry_support_level.class }}"
              title="{{ sentry_support_level.description|e }}">
              <strong>Support level:</strong> <em>{{ sentry_support_level.name|title|e }}</em>
            </div>
          {% endif %}
          <ul class="breadcrumb">
            <li><a href="{{ pathto(master_doc) }}">{{ {
              'hosted': 'Hosted Sentry',
              'on-premise': 'Sentry On-Premise'
            }[sentry_doc_variant] }}</a></li>
            {%- for parent in parents %}
            <li><a href="{{ parent.link|e }}" class="internal">{{ parent.title }}</a></li>
            {%- endfor %}
            {% if master_doc != pagename %}
            <li><a href="{{ pathto(pagename) }}" class="internal">{{ title|striptags|e }}</a></li>
            {% endif %}
          </ul>
          {% block body %} {% endblock %}
        </div>
      </section>
    </div>
  </div>
</body>
</html>
