<!doctype html>
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = './' %}{% endif %}
<html>
<head>
  <meta charset="{{ encoding }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ metatags }}

  {%- block htmltitle %}
  <title>{{ title|striptags|e }}</title>
  {%- endblock %}

  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css">
  <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css">

  <script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
      URL_ROOT:    '{{ url_root }}',
      VERSION:     '{{ release|e }}',
      COLLAPSE_INDEX: false,
      FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
      HAS_SOURCE:  {{ has_source|lower }},
      SENTRY_DOC_VARIANT: '{{ sentry_doc_variant }}'
    };
  </script>

  <script type="text/javascript" src="{{ pathto('_static/vendor.js', 1) }}"></script>
  <script type="text/javascript" src="{{ pathto('_static/app.js', 1) }}"></script>
  {%- if use_opensearch %}
  <link rel="search" type="application/opensearchdescription+xml"
        title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}"
        href="{{ pathto('_static/opensearch.xml', 1) }}"/>
  {%- endif %}
  {%- if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}">
  {%- endif %}
  {%- block extrahead %} {% endblock %}
</head>
<body>
  <header>
    <div class="container">
      <div id="user_nav">
        <ul class="user-nav">
            <li class="hidden-xs"><a href="https://www.getsentry.com/pricing/" class="pricing-link">Pricing</a></li>
            <li class="active hidden-xs"><a href="https://docs.getsentry.com">Documentation</a></li>
            <li class="hidden-xs"><a href="http://blog.getsentry.com">Blog</a></li>
            <li class="hidden-xs"><a href="https://getsentry.com/login">Sign in</a></li>
            <li class="divider hidden-xs"></li>
            <li><a class="cta" href="https://getsentry.com/login">Start for free</a></li>
        </ul>
      </div>

      <script>
      document.getElementById('user_nav').style.display = 'none';
      </script>

      <h1><a href="{{ pathto(master_doc) }}"><span class="icon-logo"></span></a><span class="text hidden-md hidden-sm">{{ {
        'hosted': 'Documentation',
        'on-premise': 'On-Premise Documentation'
        }[sentry_doc_variant] }}</span></h1>
    </div>
  </header>
  <div class="subheader">
    <div class="container">
      {# search removed for the moment
      <div class="search">
        <input type="text" placeholder="Search the docs...">
        <span class="icon-search"></span>
      </div>
      #}
      <div class="dsn-container pull-right" hidden>
        Choose project
        <span style="border-bottom: 1px dotted #666; cursor: help"
              title="Select a project and we'll automatically fill in various configuration such as the client DSN."
              data-placement="top"
              data-toggle="tooltip">?</span>
      </div>
      <ul class="edition-select list-unstyled clearfix">
        <li{% if sentry_doc_variant == 'hosted' %} class="active"{% endif %}>
          <a href="{{ link_to_edition('hosted') }}">Hosted Sentry</a>
        </li>
        <li{% if sentry_doc_variant == 'on-premise' %} class="active"{% endif %}>
          <a href="{{ link_to_edition('on-premise') }}">Sentry On-Premise</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="body">
    <div class="container page">
      <div class="sidebar col-md-3 col-sm-4">
        {% set toc_parts = build_toc(
            split_toc={
            'history': ['history'],
            'clients': ['clients/index'],
            'dev': ['clientdev/index', 'api/index', 'license',
                    'docdev', 'project-resources'],
            }
        ) %}
        <h3>{{ {
          'hosted': 'Hosted Sentry',
          'on-premise': 'Sentry On-Premise',
        }[sentry_doc_variant] }}</h3>
        <div class="toc global-toc">
          <ul>
            <li class="toctree-l1"><a href="{{ pathto(master_doc) }}" class="reference internal{%
              if pagename == master_doc %} current{% endif %}">Overview</a></li>
          </ul>
          {{ toc_parts.main }}
        </div>
        <div class="toc client-toc">
          {{ toc_parts.clients }}
        </div>
        <h3>Development</h3>
        <div class="toc dev-toc">
          {{ toc_parts.dev }}
        </div>
        <h3>Explore</h3>
        <div class="toc discover-toc">
          <ul>
            <li class="toctree-l1"><a href="{{ pathto('history') }}" class="reference internal{%
              if pagename == 'history' %} current{% endif %}">History</a></li>
            <li class="toctree-l1"><a href="{{ pathto('search') }}" class="reference internal{%
              if pagename == 'search' %} current{% endif %}">Search</a></li>
            <li class="toctree-l1"><a href="{{ pathto('sitemap') }}" class="reference internal{%
              if pagename == 'sitemap' %} current{% endif %}">Sitemap</a></li>
          </ul>
        </div>
        {% if toc %}
        <h3 class="hidden-sm hidden-xs">This Page</h3>
        <div class="toc local-toc hidden-sm hidden-xs">
          {{ toc }}
        </div>
        {% endif %}
      </div>

      <section class="document col-md-9 col-sm-8">
        <div class="page-content">
          <ul class="breadcrumb">
            <li><a href="{{ pathto(master_doc) }}">{{ {
              'hosted': 'Docs',
              'on-premise': 'On-Premise Docs'
            }[sentry_doc_variant] }}</a></li>
            {%- for parent in parents %}
            <li><a href="{{ parent.link|e }}" class="internal">{{ parent.title }}</a></li>
            {%- endfor %}
            {% if master_doc != pagename %}
            <li><a href="{{ pathto(pagename) }}" class="internal">{{ title|striptags|e }}</a></li>
            {% endif %}
          </ul>
          {% block body %} {% endblock %}
        </div>
      </section>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="pull-right">&copy; 2015 Functional Software, Inc.</div>
      <div class="pull-left">Sentry Docs</div>
      <a href="/" class="logo"><span class="icon-logo-mark"></span></a>
    </div>
  </footer>
</body>
</html>
