{%- extends "layout.html" %}
{% set title = _('Search') %}
{% block body %}
  <h1 id="search-documentation">Search</h1>
  <form method=get action="" class="rigidsearch-form" data-section="{{ sentry_doc_variant }}">
    <div class="input-group">
      <input type=text class="form-control" name=q size=40 autofocus>
      <span class="input-group-btn">
        <input type=submit class="btn btn-default" value="Search">
      </span>
    </div>
    <div class="results"></div>
  </form>
{% endblock %}
