# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prefixed with GATSBY_ will be made available to client-side code
# be careful not to expose sensitive data (in this case your Algolia admin key)

GATSBY_ALGOLIA_APP_ID=OOK48W9UCL
GATSBY_ALGOLIA_SEARCH_KEY=ca98597f559459c216891b75989832f8
GATSBY_ALGOLIA_INDEX_PREFIX=test-prefix-
# ALGOLIA_ADMIN_KEY=
# ALGOLIA_INDEX=0
