[submodule "design/external/platformicons"]
	path = design/external/platformicons
	url = https://github.com/getsentry/platformicons
[submodule "doc-support"]
	path = doc-support
	url = https://github.com/getsentry/sentry-doc-support
[submodule "doc-modules/raven-node"]
	path = doc-modules/raven-node
	url = https://github.com/getsentry/raven-node
[submodule "doc-modules/raven-python"]
	path = doc-modules/raven-python
	url = https://github.com/getsentry/raven-python
[submodule "doc-modules/raven-ruby"]
	path = doc-modules/raven-ruby
	url = https://github.com/getsentry/raven-ruby
[submodule "doc-modules/raven-js"]
	path = doc-modules/raven-js
	url = https://github.com/getsentry/raven-js
[submodule "doc-modules/sentry-php"]
	path = doc-modules/sentry-php
	url = https://github.com/getsentry/sentry-php
[submodule "doc-modules/raven-java"]
	path = doc-modules/sentry-java
	url = https://github.com/getsentry/raven-java
[submodule "doc-modules/raven-csharp"]
	path = doc-modules/raven-csharp
	url = https://github.com/getsentry/raven-csharp
[submodule "doc-modules/raven-go"]
	path = doc-modules/raven-go
	url = https://github.com/getsentry/raven-go
[submodule "doc-modules/sentry-elixir"]
	path = doc-modules/sentry-elixir
	url = https://github.com/getsentry/sentry-elixir
[submodule "doc-modules/sentry"]
	path = doc-modules/sentry
	url = https://github.com/getsentry/sentry
[submodule "doc-modules/react-native-sentry"]
	path = doc-modules/react-native-sentry
	url = https://github.com/getsentry/react-native-sentry
[submodule "doc-modules/sentry-cli"]
	path = doc-modules/sentry-cli
	url = https://github.com/getsentry/sentry-cli
[submodule "doc-modules/sentry-cocoa"]
	path = doc-modules/sentry-cocoa
	url = https://github.com/getsentry/sentry-cocoa
