[submodule "design/external/platformicons"]
	path = design/external/platformicons
	url = https://github.com/getsentry/platformicons
[submodule "doc-support"]
	path = doc-support
	url = git@github.com:getsentry/sentry-doc-support
[submodule "doc-modules/raven-python"]
	path = doc-modules/raven-python
	url = https://github.com/getsentry/raven-python
[submodule "doc-modules/raven-ruby"]
	path = doc-modules/raven-ruby
	url = https://github.com/getsentry/raven-ruby
[submodule "doc-modules/raven-js"]
	path = doc-modules/raven-js
	url = https://github.com/getsentry/raven-js
