[submodule "design/external/platformicons"]
	path = design/external/platformicons
	url = https://github.com/getsentry/platformicons
[submodule "doc-support"]
	path = doc-support
	url = https://github.com/getsentry/sentry-doc-support
[submodule "doc-modules/raven-python"]
	path = doc-modules/raven-python
	url = https://github.com/getsentry/raven-python
	ignore = all
[submodule "doc-modules/raven-ruby"]
	path = doc-modules/raven-ruby
	url = https://github.com/getsentry/raven-ruby
	ignore = all
[submodule "doc-modules/raven-js"]
	path = doc-modules/raven-js
	url = https://github.com/getsentry/raven-js
	ignore = all
[submodule "doc-modules/raven-php"]
	path = doc-modules/raven-php
	url = https://github.com/getsentry/raven-php
	ignore = all
[submodule "doc-modules/raven-objc"]
	path = doc-modules/raven-objc
	url = https://github.com/getsentry/raven-objc
	ignore = all
[submodule "doc-modules/raven-java"]
	path = doc-modules/raven-java
	url = https://github.com/getsentry/raven-java
	ignore = all
[submodule "doc-modules/raven-csharp"]
	path = doc-modules/raven-csharp
	url = https://github.com/getsentry/raven-csharp
	ignore = all
[submodule "doc-modules/sentry"]
	path = doc-modules/sentry
	url = https://github.com/getsentry/sentry
	ignore = all
