{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
