<!doctype html>
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
<meta charset="{{ encoding }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ metatags }}

{%- block htmltitle %}
<title>{{ title|striptags|e }}</title>
{%- endblock %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css">
<link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css">

<script type="text/javascript">
  var DOCUMENTATION_OPTIONS = {
    URL_ROOT:    '{{ url_root }}',
    VERSION:     '{{ release|e }}',
    COLLAPSE_INDEX: false,
    FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
    HAS_SOURCE:  {{ has_source|lower }}
  };
</script>

{% set script_files = script_files + ["_static/selectize.min.js"] %}

{%- for scriptfile in script_files %}
<script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
{%- endfor %}
<script type="text/javascript" src="{{ pathto('_static/vendor.js', 1) }}"></script>
<script type="text/javascript" src="{{ pathto('_static/app.js', 1) }}"></script>
{%- if use_opensearch %}
<link rel="search" type="application/opensearchdescription+xml"
      title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}"
      href="{{ pathto('_static/opensearch.xml', 1) }}"/>
{%- endif %}
{%- if favicon %}
<link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}">
{%- endif %}
{%- block extrahead %} {% endblock %}

<header>
  <div class="container">
    <ul class="user-nav">
        <li class="hidden-xs"><a href="https://www.getsentry.com/pricing/" class="pricing-link">Pricing</a></li>
        <li class="active hidden-xs"><a href="/">Documentation</a></li>
        <li class="hidden-xs"><a href="http://blog.getsentry.com">Blog</a></li>

        <li class="hidden-xs"><a href="https://getsentry.com/login">Sign in</a></li>
        <li class="divider hidden-xs"></li>
        <li><a class="cta" href="https://getsentry.com/login">Start for free</a></li>
    </ul>
    <h1><a href="{{ pathto(master_doc) }}"><span class="icon-logo"></span></a><span class="text hidden-md hidden-sm">Documentation</span></h1>
  </div>
  <script>$('header div.container').hide();</script>
</header>
<div class="subheader">
  <div class="container">
    <div class="search">
      <input type="text" placeholder="Search the docs...">
      <span class="icon-search"></span>
    </div>
    <ul class="edition-select list-unstyled">
      <li class="active"><a href="#">Sentry Cloud</a></li>
      <li><a href="#">Sentry Enterprise</a></li>
      <li><a href="#">Sentry Community Edition</a></li>
    </ul>
  </div>
</div>
<div class="body">
  <div class="container page">
    <div class="sidebar col-md-3 col-sm-4">
      <h3>Contents</h3>
      <div class="toc global-toc">
        <ul>
          <li class="toctree-l1"><a href="{{ pathto(master_doc) }}" class="reference internal{%
            if pagename == master_doc %} current{% endif %}">Overview</a></li>
        </ul>
        {{ full_toc }}
        <ul>
          <li class="toctree-l1"><a href="{{ pathto('search') }}" class="reference internal{%
            if pagename == 'search' %} current{% endif %}">Search</a></li>
          <li class="toctree-l1"><a href="{{ pathto('sitemap') }}" class="reference internal{%
            if pagename == 'sitemap' %} current{% endif %}">Sitemap</a></li>
        </ul>
      </div>
      <h3 class="hidden-sm hidden-xs">Quick Links</h3>
      <div class="client-quick-links hidden-sm hidden-xs">
        <ul class="list-unstyled">
          <li>
            <a href="{{ pathto('clients/python') }}"><span class="platformicon platformicon-python"></span>Python, Django, Flask</a>
          </li>
          <li>
            <a href="{{ pathto('clients/ruby') }}"><span class="platformicon platformicon-ruby"></span>Ruby, Rails, Sinatra, Rack</a>
          </li>
          <li>
            <a href="{{ pathto('clients/javascript') }}"><span class="platformicon platformicon-js"></span>Javascript, Node.js</a>
          </li>
          <li>
            <a href="{{ pathto('clients/php') }}"><span class="platformicon platformicon-php"></span>PHP Applications</a>
          </li>
          <li><a href="{{ pathto('clients/index') }}"><span class="platformicon platformicon-generic"></span>Other Libraries</a></li>
        </ul>
      </div>
      {% if toc %}
      <h3 class="hidden-sm hidden-xs">This Page</h3>
      <div class="toc local-toc hidden-sm hidden-xs">
        {{ toc }}
      </div>
      {% endif %}
    </div>

    <section class="document col-md-9 col-sm-8">
      <div class="dsn-container" hidden>
        Choose project:
      </div>
      <ul class="breadcrumb">
        <li><a href="{{ pathto(master_doc) }}">Docs</a></li>
        {%- for parent in parents %}
        <li><a href="{{ parent.link|e }}">{{ parent.title }}</a></li>
        {%- endfor %}
        {% if master_doc != pagename %}
        <li><a href="{{ pathto(pagename) }}">{{ title|striptags|e }}</a></li>
        {% endif %}
      </ul>
      {% block body %} {% endblock %}
    </section>
  </div>
</div>

<footer>
  <div class="container">
    Copyright 2015 by the Sentry Team.
  </div>
</footer>
