<h3>Versions</h3>
<ul class="versions">
  {% for version in documentation_versions %}
    {% if version.is_current %}
      <li><a href="." class="current">{{ version.title }}</a>
    {% else %}
      {% if pagename.endswith('/index') %}
        {% set href = pagename[:-5] %}
      {% elif pagename == 'index' %}
        {% set href = '' %}
      {% else %}
        {% set href = pagename + '/' %}
      {% endif %}
      <li><a href="{{ pathto(master_doc).rstrip('#/') or '.' }}/../{{ version.slug
          }}/{{ href }}">{{ version.title }}</a>
    {% endif %}
    {% if version.note %}<span class=note>({{ version.note }})</span>{% endif %}
  {% endfor %}
</ul>
