.promo-banner{
  background: $flame6;
  min-height: 4.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
  color: $desatPurple3;

  a {
    color: inherit
  }

  &.banner-module {
    border-radius: 5px;
    margin-bottom: 1rem;
  }
}

.promo-banner-message{
  margin: 1rem 3rem 1rem 1rem;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  text-align: left;

  > img {
    max-height: 3rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  > span a {
    text-decoration: underline;
    margin-left: 0.5rem;
  }
}

.promo-banner-dismiss {
  background: $flame4;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 2.5rem;
  border-radius: 3rem;
  text-align: center;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border: 0;
  color: $desatPurple3;

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(sm) {
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    top: 0.75rem;
  }
}
