/* support for code blocks and tabs */
.code-tabs {
  margin-bottom: 1.5rem;

  .tab-bar {
    background: #251f3d;
    border-bottom: 1px solid #40364a;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 3px 3px 0 0;

    button {
      color: $desatPurple8;
      padding: 7px 6px 4px;
      display: inline-block;
      cursor: pointer;
      border: none;
      font-size: 0.75rem;
      background: none;
      outline: none;
      border-bottom: 3px solid transparent;

      &.active,
      &:focus,
      &.only-choice {
        color: $white;
        font-weight: 500;
        border-bottom: 3px solid #6c5fc7;
      }
    }
  }

  .tab-content {
    position: relative;

    .code-actions {
      display: grid;
      height: 32px;
      grid-template-columns: max-content max-content;
      grid-gap: 1rem;
      align-items: center;
      position: absolute;
      margin: 0 0.25rem;
      right: 0;
      top: -35px;
    }

    .filename {
      font-size: 0.75rem;
      color: $white;
    }

    .class-name {
      color: lightgrey;
    }

    .copy {
      font-size: 0.85rem;
      color: white;
      border: none;
      margin: 0;
      padding: 0 4px;
      background: none;
      outline: none;
      border-radius: 2px;
      transition: background 150ms ease-in-out;

      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.25);
      }
    }

    .copied {
      position: absolute;
      right: 4px;
      top: 4px;
      margin: 0;
      padding: 0 6px;
      border-radius: 2px;
      font-size: 0.85rem;
      background: rgba(255, 255, 255, 0.25);
      border: none;
      color: $white;
      transition: opacity 150ms;
    }

    pre {
      margin: 0;
      padding: 10px 12px;
      border-radius: 0 0 3px 3px;
    }
  }
}
