/* support for code blocks and tabs */
.code-tabs {
  margin-bottom: 1rem;

  .tab-bar {
    background: #2d2d2d;
    border-bottom: 1px solid #444;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 3px 3px 0 0;

    button {
      color: $desatPurple8;
      padding: 7px 6px 4px;
      display: inline-block;
      cursor: pointer;
      border: none;
      font-size: 0.75rem;
      background: none;
      outline: none;
      border-bottom: 3px solid transparent;

      &.active,
      &:focus,
      &.only-choice {
        color: $white;
        font-weight: 500;
        border-bottom: 3px solid #6c5fc7;
      }
    }
  }

  .tab-content {
    position: relative;

    .code-actions {
      display: grid;
      height: 32px;
      grid-template-columns: max-content max-content;
      grid-gap: 1rem;
      align-items: center;
      position: absolute;
      margin: 0 0.25rem;
      right: 0;
      top: -33px;
    }

    .filename {
      font-size: 0.75rem;
      color: $white;
    }

    .copy {
      font-size: 0.85rem;
      color: white;
      border: none;
      margin: 0;
      padding: 0 4px;
      background: none;
      outline: none;
      border-radius: 2px;
      transition: background 150ms ease-in-out;

      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.25);
      }
    }

    .copied {
      position: absolute;
      right: 4px;
      top: 4px;
      margin: 0;
      padding: 0 6px;
      border-radius: 2px;
      font-size: 0.85rem;
      background: rgba(255, 255, 255, 0.25);
      border: none;
      color: $white;
      transition: opacity 150ms;
    }

    .keyword-selector {
      background: $desatPurple4;
      border-radius: 2px;
      margin: 0 -2px;
      padding: 0 2px;
      cursor: context-menu;

      &:focus {
        outline: none;
        background: $desatPurple3;
      }

      &:after {
        content: "▾";
      }

      &.open:after {
        content: "▴";
      }

      &:hover {
        background: $desatPurple3;

        &:after {
          color: white;
        }
      }
    }

    .keyword-selector-wrapper {
      .selections {
        margin-top: -2px;
        position: absolute;
        background: $desatPurple6;
        color: white;
        border-radius: 3px;
        box-shadow: 0px 18px 46px -11px rgba(0, 0, 0, 0.63);
        overflow: auto;
        max-height: 200px;
        z-index: 100;

        button {
          font-family: $font-family-sans-serif;
          padding: 2px 8px;
          text-align: left;
          display: block;
          width: 100%;
          background: none;
          color: white;
          border: none;

          &:hover,
          &.active {
            background: $desatPurple3;
          }
        }
      }
    }

    pre {
      margin: 0;
      padding: 10px 12px;
      border-radius: 0 0 3px 3px;
    }
  }
}
