.navbar-right-half {
  position: fixed;
  background: $white;
  z-index: 1;
  width: calc(100% - 18rem);
}

.navbar {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.02);
  z-index: 1;
}

.global-header {
  height: $headerHeight;
  width: 100%;

  .navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-right: 0;
    font-size: 0.5rem;
    padding-bottom: 0.7em;
    padding-top: 0.7em;

    svg {
      display: block;
      height: 100%;
      margin-right: 0.7rem;
    }

    h6 {
      line-height: 32px;
      font-size: 18px;
      margin: 0;
      font-weight: 300;
      color: #666;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
