$global-header-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.02);
.navbar-right-half {
  background: $white;

  // necessary for search suggestions to not overlap content
  position: relative;

  @media only screen and (min-width: 768px) {
    z-index: 10;
    position: fixed;
    width: calc(100% - 18rem);
    box-shadow: $global-header-shadow;
  }
}

.sidebar .navbar {
  box-shadow: $global-header-shadow;
  z-index: 1;
}

.nav-item {
  border-radius: 4rem;

  .nav-link {
    color: $desatPurple1;
  }

  &:hover {
    background-color: $desatPurple14;

    .nav-link {
      color: $desatPurple1;
    }
  }
}

.global-header {
  height: $headerHeight;
  width: 100%;

  .navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-right: 0;
    font-size: 0.5rem;
    padding-bottom: 0.7em;
    padding-top: 0.7em;

    svg {
      display: block;
      height: 100%;
      margin-right: 0.7rem;
    }

    h6 {
      line-height: 32px;
      font-size: 18px;
      margin: 0;
      font-weight: 400;
      color: #666;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

// Avoid header links hiding behind the sticky header on jump
[id] {
  scroll-margin-top: ($headerHeight + $spacer);
}
