.global-header {
  &:before {
    display: block;
    content: "";
    background-color: $white;
    width: 10px;
    left: -5px;
    height: 100%;
    position: absolute;
  }
}

.content-max {
  box-sizing: content-box;
  max-width: 1000px;
}

html,
body {
  height: 100%;
}


.document-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-columns: 245px 1fr;
  grid-template-rows: 64px 1fr;

  > header {
    display: grid;
    grid-area: header;
    grid-template-columns: 245px 1fr;
    grid-template-areas:
      "brand navbar";
    position: fixed;

    > .navbar-brand {
      grid-area: brand;
    }

    > nav {
      grid-area: navbar;
    }
  }

  > main {
    grid-area: main;
  }

  > .sidebar {
    grid-area: sidebar;
    margin-top: 64px;
    position: fixed;
    overflow: auto;
    height: 100%;
  }

  &.with-sidebar {
    grid-template-areas:
      "header header"
      "sidebar main";
  }
}

@media (max-width: 768px) {
  .document-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "sidebar" !important;

    &.with-sidebar {
    }

    > .sidebar {
      width: 100%;
      background: #fff;
      grid-column: 1;
      grid-row: 2;
    }
  }
}

.doc-toc {
  position: sticky;
  top: $spacer;
}
