.global-header {
  &:before {
    display: block;
    content: "";
    background-color: $white;
    width: 10px;
    left: -5px;
    height: 100%;
    position: absolute;
  }
}

.content-max {
  box-sizing: content-box;
  max-width: 1000px;
  &.prose {

    @media only screen and (min-width: 768px) {
      margin-top: 4rem;
    }
}
}


html,
body {
  height: 100%;
}

.document-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;

  > main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;

    @media only screen and (min-width: 768px) {
      margin-left: 18rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .document-wrapper {
    flex-direction: row;
    max-height: 100%;
  }

  .sidebar {
    flex-basis: 270px;
    flex-shrink: 0;
  }
}

.page-nav {
  position: fixed;
  width: 27vw;

  @media only screen and (min-width: 900px) {
    width: 20vw;
  }
  @media only screen and (min-width: 1200px) {
    width: 16vw;
  }
}

.doc-toc {
  position: sticky;
  top: $spacer;
}
