.global-header {
  &:before {
    display: block;
    content: "";
    background-color: $white;
    width: 10px;
    left: -5px;
    height: 100%;
    position: absolute;
  }
}

.content-max {
  box-sizing: content-box;
  max-width: 1000px;
}

html,
body {
  height: 100%;
}

.document-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;

  > main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
  }
}

@include media-breakpoint-up(md) {
  .document-wrapper {
    flex-direction: row;
    max-height: 100%;
  }

  .sidebar {
    flex-basis: 270px;
    flex-shrink: 0;
  }
}

.doc-toc {
  position: sticky;
  top: $spacer;
}
