.highlight {
  .c {
    color: $desatPurple9;
  }
  .err {
    background: $flame0;
    color: $white;
  }
  .k {
    color: $brandLink;
  }
  .l {
    color: $flame3;
  }
  .n {
    color: $brandDecoration;
  }
  .o {
    color: $desatPurple4;
  }
  .p {
    color: $desatPurple9;
  }
  .cm {
    color: $desatPurple9;
  }
  .cp {
    color: $desatPurple9;
  }
  .c1 {
    color: $desatPurple9;
  }
  .cs {
    color: $desatPurple9;
  }
  .gd {
    color: $flame0;
  }
  .ge {
    font-style: italic;
  }
  .gh {
    color: $desatPurple4;
    font-weight: bold;
  }
  .gi {
    color: $jewel0;
  }
  .gp {
    color: $jewel0;
    font-weight: bold;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: $jewel1;
    font-weight: bold;
  }
  .kc {
    color: $brandLink;
  }
  .kd {
    color: $brandLink;
  }
  .kn {
    color: $jewel1;
  }
  .kp {
    color: $lightBlue;
  }
  .kr {
    color: $brandLink;
  }
  .kt {
    color: $flame6;
  }
  .ld {
    color: $jewel0;
  }
  .m {
    color: $flame3;
  }
  .s {
    color: $jewel0;
  }
  .na {
    color: $lightBlue;
  }
  .nb {
    color: $lightBlue;
  }
  .nc {
    color: $flame6;
  }
  .no {
    color: $flame6;
  }
  .nd {
    color: $jewel1;
  }
  .ni {
    color: $desatPurple4;
  }
  .ne {
    color: $flame0;
  }
  .nf {
    color: $lightBlue;
  }
  .nl {
    color: $desatPurple4;
  }
  .nn {
    color: $flame6;
  }
  .nx {
    color: $lightBlue;
  }
  .py {
    color: $desatPurple4;
  }
  .nt {
    color: $jewel1;
  }
  .nv {
    color: $flame0;
  }
  .ow {
    color: $jewel1;
  }
  .w {
    color: $desatPurple4;
  }
  .mf {
    color: $flame3;
  }
  .mh {
    color: $flame3;
  }
  .mi {
    color: $flame3;
  }
  .mo {
    color: $flame3;
  }
  .sb {
    color: $jewel0;
  }
  .sc {
    color: $desatPurple4;
  }
  .sd {
    color: $desatPurple9;
  }
  .s2 {
    color: $jewel0;
  }
  .se {
    color: $flame3;
  }
  .sh {
    color: $jewel0;
  }
  .si {
    color: $flame3;
  }
  .sx {
    color: $jewel0;
  }
  .sr {
    color: $jewel0;
  }
  .s1 {
    color: $jewel0;
  }
  .ss {
    color: $jewel0;
  }
  .bp {
    color: $desatPurple4;
  }
  .vc {
    color: $flame0;
  }
  .vg {
    color: $flame0;
  }
  .vi {
    color: $flame0;
  }
  .il {
    color: $flame3;
  }
}
