.index-illustration {
  float: right;
  margin: 0 0 30px 30px;
  width: 260px;

  img {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}

.index-container {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  margin-bottom: 1rem;
  > * {
    flex-grow: 1;
  }
}

.index-logo {
  svg {
    max-height: 3rem;
  }
}

.could-it-be {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-evenly;

  a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;

    .image-frame {
      max-height: 8rem;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      padding: 1rem;

      img {
        max-height: 100%;
        margin: 0 auto;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.link-row {
  margin: 2rem 0;

  a {
    background: $desatPurple14;
    color: $desatPurple4;
    border: 3px solid $desatPurple14;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
  }
}
