.index-illustration {
  float: right;
  margin: 0 0 30px 30px;
  width: 260px;

  img {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}

.index-wrapper {
  padding-bottom: 2rem;
}

.index-container {
  max-width: 1000px;
  margin: 0 auto;

  h2 {
    margin: 4rem auto 1rem;
  }
}

.flex-row {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;

  > * {
    flex: 1 1 0;
  }
}

ul.unstyled-list {
  list-style: none;
  padding: 0;
}

a.hover-card-link {
  background: $white;
  color: $highlightPurple;
  border: 1px solid $white;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  line-height: 1.5;
  transition-property: transform, box-shadow, border-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  box-shadow: 0px 2px 4px rgba(64, 30, 76, 0.1);
  display: inline-block;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 12px 16px rgba(64, 30, 76, 0.1);
    text-decoration: none;
    border-color: $lightestPurple;
  }
}

.hero-section {
  background: #f6f4f7;
  text-align: center;
  padding-bottom: 3rem;

  .form-control {
    max-width: 35rem;
    margin: 4rem auto 2rem;
  }
}

.index-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .index-logo {
    transition: opacity 0.25s ease-out;
    img {
      height: 4rem;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .navbar-nav {
    flex-direction: row;

    .btn {
      margin-left: 1rem;
    }
  }
}

.integrations-logo-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin: 2rem 0;

  a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    padding: 0.5rem 0 1rem;

    .image-frame {
      max-height: 8rem;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      padding: 1rem;

      img {
        max-height: 100%;
        margin: 0 auto;
        border: none;
        box-shadow: none;
      }
    }
    &:hover {
      box-shadow: 0px 6px 22px rgba(64, 30, 76, 0.1);
      transform: translateY(-0.5rem);
      box-shadow: 0px 8px 16px rgba(64, 30, 76, 0.1);
      text-decoration: none;
    }
  }
}

.card-row {
  margin-bottom: 3rem;

  .hover-card-link {
    font-size: 1.25em;
  }
}

.link-row {
  ul li {
    margin-bottom: 0.5rem;
  }
}
