.index-illustration {
  float: right;
  margin: 0 0 30px 30px;
  width: 260px;

  img {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}

.index-wrapper {
  padding-bottom: 2rem;
}

.index-container {
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 1rem;

  &.pad-top {
    padding-top: 3rem;
  }

  h2 {
    margin: 0 auto 1rem;
  }

  h1 {
    text-align: center;
  }
}

.flex-row {
  @media only screen and (min-width: 768px) {
    display: flex;

    justify-content: space-between;
    gap: 1rem;
    > * {
      flex: 1 1 0;
    }
  }
}

ul.unstyled-list {
  list-style: none;
  padding: 0;
}

a.hover-card-link {
  background: $white;
  color: $desatPurple1;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  line-height: 1.5;
  transition-property: box-shadow, border-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  box-shadow: 0 2px 0 rgba(54, 45, 89, 0.15);
  display: inline-block;

  &:hover {
    box-shadow: 0 2px 0 rgba(54, 45, 89, 0.15), -0.1875rem -0.1875rem 0 0.1875rem #f2b712,
      0 0 0 0.375rem #e1567c;
    text-decoration: none;
    cursor: pointer;
  }
}

a.see-all-btn {
  border-radius: 4rem;
}

div.footer-btns {
  justify-content: center;
  text-align: center;
  gap: 0;

  a {
    background: #efe8f4;
    color: #222;
    text-align: center;
    font-size: 16px;
    max-width: 14rem;
    border-radius: 4rem;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    transition-property: background;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;

    &:hover {
      background: #8d5494;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.hero-section {
  background: $desatPurple15;
  background-image: url('../pages/geo-back.svg');
  background-size: cover;
  background-position: center;
  margin: -3px 0 0;
  padding-bottom: 2rem;
}

.index-search {
  position: relative;
  max-width: 40rem;
  margin: 0 auto;

  .sgs-search-results {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }
}

.search-input {
  min-width: 7rem;
}

.index-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 0.25rem;

  .index-logo {
    transition: opacity 0.25s ease-out;
    flex: 1 0 100%;
    margin: 0.5rem auto;
    text-align: center;
    img {
      height: 4rem;
    }
    &:hover {
      opacity: 0.75;
    }
    @media only screen and (min-width: 576px) {
      flex: none;
      margin: 0;
    }
  }
  .navbar-nav {
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    @media only screen and (min-width: 576px) {
      margin: 0;
    }
    .btn {
      margin-left: 1rem;
    }
  }
}

.integrations-logo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem -1rem 2rem 0;

  a {
    padding: 0rem 1rem 1rem;
    flex: 0;
    margin: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    min-width: 45%;
    @media only screen and (min-width: 576px) {
      min-width: 22%;
    }
    @media only screen and (min-width: 992px) {
      min-width: 14%;
    }

    .image-frame {
      max-height: 8rem;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      padding: 1rem 0;

      img,
      div {
        max-height: 100%;
        margin: 0 auto;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.integrations-all {
  text-align: center;
}

.card-row {
  margin-bottom: 2rem;
  align-items: flex-start;

  .hover-card-link {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.25em;
  }
}

.link-row {
  ul {
    margin-bottom: 2rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}
