.integrations {
  .row {
    margin-bottom: 1.5em;
  }
  .icon {
    height: 3em;
    width: 3em;
  }

  .col-sm {
    background: $white;
    border-radius: 4px;
    border: 1px solid $desatPurple9;
    box-shadow: 0 2px 4px 0 rgba(24, 19, 33, 0.05);
    margin: 0 1em;
    padding: 1em;
    text-align: center;
    transition: 0.125s ease-out;

    &:hover {
      box-shadow: 0 3px 15px 0 rgba(24, 19, 33, 0.06), 0 3px 5px 0 rgba(0, 0, 0, 0.05),
        inset 0 2px 0 1px rgba(255, 255, 255, 0.25);
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 1em;
    }
  }
}
