.loader-stroke {
  stroke: #000;
  stroke-dasharray: 282;
  stroke-dashoffset: 0;
  stroke-linecap: round;

  .loading & {
    animation: stroke 2s cubic-bezier(0.85, 0, 0.1, 1) infinite alternate;

    @at-root {
      @keyframes stroke {
        // This is a hold while the spin happens
        10% {
          stroke-dashoffset: 0;
        }
        // This is the stroke moving
        90%,
        // This is a hold while the stroke is invisible
        100% {
          // This leaves just a dot left over
          stroke-dashoffset: 281;
        }
      }
    }
  }
}

.loader-spin {
  transform: rotate3d(0, 0, 0, 0deg);
  transform-origin: 37.5px 51%;
  transform-style: preserve-3D;

  .loading & {
    animation: spin 4s 1.8s ease-in-out infinite;

    @at-root {
      @keyframes spin {
        40% {
          transform: rotate3d(0, 0, 0, 0deg);
        }
        45% {
          transform: rotate3d(0, 0, 1, -15deg);
        }
        55% {
          transform: rotate3d(0, 0, 1, 375deg);
        }
        60%,
        100% {
          transform: rotate3d(0, 0, 1, 360deg);
        }
      }
    }
  }
}
