.platform-specific-content .dropdown-menu {
  display: none;

  &.show {
    display: block;
  }
}

.unsupported {
  .unsupported-hint {
    display: none;
  }
}

.unsupported.is-unsupported {
  opacity: 0.5;

  .unsupported-hint {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
}

div.config-key {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;

  div.config-description {
    margin-left: 1.5rem;
  }
}

div.config-key-deprecated {
  h4::after {
    content: " ⚠️deprecated";
    font-weight: normal;
    padding-left: 0.5rem;
    color: #d12555;
  }
}
