.search-results {
  position: absolute;
  margin-top: .5rem;
  z-index: 5;
  border: .25rem solid $desatPurple4;
  border-radius: .5rem;
  background-color: $white;
  font-size: .875rem;
  max-height: calc(100vh - #{$headerHeight * 2});
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  @include media-breakpoint-up(md) {
    width: 500px;
  }
  
  .logo  {
    margin-top: .75rem;
    margin-bottom: .5rem;
    color: $desatPurple4;
    width: 3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.search-results-scroll-container {
  flex: 1;
  overflow: auto;
}

.site-result-heading {
  background-color: $desatPurple4;
  color: $white;
  padding: .5rem 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.hit-list {
  list-style: none;
  margin: 0;
  padding: .25rem;
  
  &.offsite {
  background-color: $desatPurple15;
  
  .hit-item > a:hover {
    background-color: $white;
  }
}
}

.hit-item {  
  mark {
    color: $flame0;
    background: inherit;
    padding: 0;
  }
  
  h6 {
    margin-bottom: .25rem;
  }
  
  a {  
    display: block;
    text-decoration: none;
    color: $desatPurple1;
  
    padding: .75rem;
    line-height: 1.5;

    &:hover {
      background-color: $lightestPurpleBackground;
    }  
  }

}

.hit-empty-state {
  display: block;
  text-decoration: none;
  color: $desatPurple1;
  padding: .75rem;
  line-height: 1.5;
}

.hit-context {
  margin-top: .25rem;
  display: flex;
  font-size: .75rem;
  color: $desatPurple4;
  
  .hit-context-left {
    font-style: italic;
    flex:1;
  }
  
  .hit-context-right {
    flex: 0;
  }
}

.expand-results {
  flex: 0;
  margin: .25rem .25rem .5rem;
}

.expand-results-button {
  display: block;
  border: 0;
  background-color: $lightestPurpleBackground;
  border-radius: 3px;
  padding: .25rem .75rem;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  font-weight: bold;
  color: $desatPurple6;
}
