.hits {
  font-size: 14px;
  position: relative;

  .ais-Highlight {
    color: $highlightPurple;
  }

  mark {
    color: $red;
    background: inherit;
    padding: 0;
    font-weight: bold;
  }

  .search-results.list-group {
    position: absolute;
    z-index: 5;
  }

  h6 .badge {
    vertical-align: middle;
    margin-left: 5px;

    &.badge-secondary {
      color: $lightText;
      background: $white;
    }
  }

  .ais-Hits-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      > a {
        @extend .list-group-item;
        @extend .list-group-item-action;
        border-radius: 0 !important;
        border-bottom-width: 0;
      }
      &:last-child > a {
        border-bottom-width: 2px;
        border-bottom-right-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
      }
    }
  }

  @include media-breakpoint-up(md) {
    width: 300%;
  }
}
