.sidebar {
  top: 0;
  bottom:0;
  flex-direction: column;
  display: flex;
  width: 100%;
  z-index: 1;

  @media only screen and (min-width: 768px) {
    position: fixed;
    width: 18rem;
  }

  #sidebar {
    background: $white;
    @media only screen and (min-width: 768px) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
      max-height: initial;
      border-bottom: none;
      box-shadow: none;
    }
  }

  .global-header {
    flex-shrink: 0;
  }

  .toc {
    font-size: 0.875rem;
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.02);

    // &::-webkit-scrollbar {
    //   width: 10px;
    // }

    // https://stackoverflow.com/questions/35484742/hide-useless-scrollbars-that-show-up-on-windows-only
    &:hover {
      overflow-y: auto;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .toc-item {
    padding-left: 0;
  }

  .toc-item .toc-item {
    padding-left: $spacer * 0.5;
  }
}

.doc-toc {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  font-size: 0.8rem;

  .toc-entry ul {
    margin-bottom: 0;
  }
}

[data-sidebar-branch] [data-sidebar-branch] > [data-sidebar-tree] {
  display: none;
  margin-bottom: 0;
}

[data-sidebar-branch].toc-visible > [data-sidebar-tree] {
  display: block;
}

[data-sidebar-link] {
  position: relative;
  line-height: 1.5;
  display: block;
  border-radius: 0.125em;
  color: $desatPurple6;
  padding: 0.25em 0.5em;
  opacity: 0.8;
  text-decoration: none;
  transition: $transition-time ease-out;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $desatPurple3;
  }

  &.active {
    opacity: 1;
    background-color: $satPurple1;
    color: $white;
    border-radius: 4px;

    &:hover {
      color: $white;
    }
  }
}

.doc-toc {
  a {
    position: relative;
    line-height: 1.5;
    display: block;
    border-radius: 0.125em;
    color: $desatPurple6;
    padding: 0.25em 0;
    opacity: 0.8;
    text-decoration: none;
    transition: $transition-time ease-out;

    &:hover {
      opacity: 1;
      text-decoration: none;
      color: $desatPurple3;
    }
  }

  .active > a {
    opacity: 1;
    background-color: inherit;
    color: $satPurple0;
    border-radius: 4px;

    &:hover {
      color: $satPurple0;
    }
  }
}

.sidebar-title,
.doc-toc-title {
  color: $desatPurple0 !important;
  opacity: 1 !important;

  svg {
    height: 100%;
    min-height: 1.5em;
    min-width: 1.5em;
    max-height: 1.5em;
    max-width: 1.5em;
    width: 100%;
  }

  &.active h6 {
    color: #fff;
  }

  h6 {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: inherit;
  }

  &:hover {
    color: $desatPurple0;
  }
}

.doc-toc-title {
  margin-bottom: 0.25rem;
}

#sidebar {
  // Work around Firefox bug
  // https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/
  min-height: 0;

}

.section-nav {
  list-style-type: none;
  padding-left: 0;

  ul {
    list-style-type: none;
    padding-left: $spacer * 0.5;
  }
}
