.term-wrapper {
  position: relative;
  display: inline;
  text-align: center;
}

span.term {
  text-decoration: underline dotted $darkPink 2px;
  text-decoration-skip-ink: auto;
  cursor: help;
}

span.description {
  display: inline-block;
  width: 16rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background: $darkPink;
  color: $white;
  position: absolute;
  left: calc(50% - 8.5rem);
  top: calc(100% + 8px);
  opacity: 0;
  pointer-events: none;

  // pointer arrow
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $darkPink;
    position: absolute;
    top: -6px;
    left: calc(50% - 4px);
  }
}

span.term:hover + span.description {
  opacity: 1;
}
