.doc-toc {
  a {
    position: relative;
    line-height: 1.5;
    display: block;
    color: var(--desatPurple3);
    padding: 0.25em 0;
    opacity: 0.8;
    transition: var(--transition-time) ease-out;

    &:hover {
      opacity: 1;
      color: var(--desatPurple3);
    }
  }

  .active>a {
    opacity: 1;
    background-color: inherit;
    color: var(--accent-purple);
    border-radius: 4px;
  }
}

.section-nav {
  list-style-type: none;
  padding-left: 0;

  ul {
    list-style-type: none;
    padding-left: 0.75rem;
  }
}

.doc-toc {
  padding: 0 1rem;
  font-size: 0.8rem;
  animation: fadeIn 0.3s ease-in;

  .toc-entry ul {
    margin-bottom: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.doc-toc-title {
  font-weight: 500;
  margin-bottom: 0.25rem;

  h6 {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: inherit;
  }
}
