/* Lightbox animations */
@keyframes dialogContentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialogContentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}

@keyframes dialogOverlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialogOverlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Lightbox content styles */
.lightboxContent {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  max-height: 90vh;
  max-width: 90vw;
  transform: translate(-50%, -50%);
}

.lightboxContent[data-state='open'] {
  animation: dialogContentShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.lightboxContent[data-state='closed'] {
  animation: dialogContentHide 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* Lightbox overlay styles */
.lightboxOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 50;
}

.lightboxOverlay[data-state='open'] {
  animation: dialogOverlayShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.lightboxOverlay[data-state='closed'] {
  animation: dialogOverlayHide 200ms cubic-bezier(0.16, 1, 0.3, 1);
}