.sdk-config-option:not(:last-child) {
  margin-bottom: 2rem;
}

.sdk-config-option-details {
  padding-left: 0;
}

.sdk-option-table {
  --border-radius: 6px;
  font-size: 1rem;
  margin-top: 1rem;
  width: auto;

  // This is necessary to make rounded borders work :(
  border-collapse: separate !important;
  border-spacing: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & tr th,
  & tr td {
    border-bottom-width: 0;
    border-right-width: 0;
    padding: 0.5rem 0.75rem;
  }

  & tr:last-child > * {
    border-bottom-width: 1px;
  }

  & tr > :last-child {
    border-right-width: 1px;
  }

  & :first-child > :first-child {
    border-top-left-radius: var(--border-radius);
  }

  & :first-child > :last-child {
    border-top-right-radius: var(--border-radius);
  }

  & :last-child > :first-child {
    border-bottom-left-radius: var(--border-radius);
  }

  & :last-child > :last-child {
    border-bottom-right-radius: var(--border-radius);
  }
}

// This is to ensure specificity beats .prose table :(
.sdk-config-option .sdk-option-table {
  width: auto;
}
