.select {
  display: flex;
  padding: 0.5rem;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  min-width: 15rem;
  width: 100%;
  min-height: 42px;
  border-radius: 0.25rem;
  background-color: var(--gray-a2);
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  border: 1.5px solid var(--gray-4);
}

.select:focus {
  outline: 0;
  border-color: var(--accent-purple);
  box-shadow: 0 0 0 0.2rem var(--accent-purple-light);
}

.select:hover {
  background-color: var(--gray-a4);
}

@media (min-width: 640px) {
  .select {
    font-size: 15px;
  }
}

.popover {
  z-index: 50;
  border-radius: 0.5rem;
  background-color: var(--gray-2);
  width: var(--radix-select-trigger-width);
  box-shadow: var(--shadow-6);
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  cursor: default;
  align-items: center;
  border-radius: 0.25rem;
  outline: 1.5px solid transparent;
  outline-offset: 2px;
}

.item:hover {
  background-color: var(--accent-purple-light);
  cursor: pointer;
}

.item[data-active-item] {
  background-color: var(--accent-purple-light);
}

:global(.dark) {
  .item[data-active-item] {
    background-color: var(--gray-a4);
  }
  .item[data-active-item] + .expand-button {
    background-color: var(--gray-a4);
  }
  .item[data-state='checked']:hover + .expand-button {
    background-color: var(--gray-a4);
  }
  .select.select:focus {
    box-shadow: 0 0 0 0.2rem var(--gray-a4);
  }
}

.item[data-state='checked'] {
  background-color: var(--accent-purple);
  color: white;
}

.item[data-guide='true'] {
  margin-left: 1.5rem;
}

.item[data-platform-with-guides] {
  border-radius: 0.25rem 0 0 0.25rem;
}

.item-text {
  display: flex;
  align-items: start;
  gap: 0.25rem;
  text-align: left;

  .platform-icon {
    translate: 0 4px;
  }
}

@media (min-width: 1024px) {
  .item {
    padding-top: 0.315rem;
    padding-bottom: 0.315rem;
    font-size: 15px;
  }
}

.item[data-guide='true']::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  // background-color: hsl(204 4% 0% / 0.1);
  position: absolute;
  left: -0.5rem;
  top: 0;
}

.item[data-last-guide='true']:before {
  height: 80%;
}
