@import '_includes/variables';
@import '_includes/bootstrap-overrides';
@import '~bootstrap/scss/bootstrap';
@import '_includes/type';
@import '_includes/grid';
@import '_includes/highlight';
@import '_includes/content';
@import '_includes/sidebar';
@import '_includes/dropdown';
@import '_includes/pre';
@import '_includes/integrations';
@import '_includes/global-header';
@import '_includes/breadcrumb';
@import '_includes/alert';
@import '_includes/expandable';
@import '_includes/steps';
@import '_includes/platform-specific-content';
@import '_includes/interactive-content';
@import '_includes/tracking-widget';
@import '_includes/loader';
@import '_includes/platform-link';
@import '_includes/index';
@import '_includes/api';
@import '_includes/development-api';
@import '_includes/user-content-ui';
@import '_includes/code-blocks';
@import '_includes/large-definition-list';
@import '_includes/terms';

code[class*='language-'],
pre[class*='language-'] {
  font-family:
    'Roboto Mono',
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace !important;
}

pre[class*='language-'] {
  font-size: 0.85rem;
  border: 0;
  border-radius: 4px;
  margin: 0 0 1rem;
  padding: 1rem;
}

.github-cta {
  background: $desatPurple15;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 1rem 1.25rem;
  border-radius: 0.25em;
}

a .icon {
  margin-left: 0.25em;

  svg {
    width: 14px;
    height: 14px;
  }
}

ul p,
ol p,
ol,
ul {
  margin-bottom: 1rem;
}

ul ul,
ul ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

:target {
  scroll-margin-top: ($headerHeight + $spacer);
}
