@import '_includes/variables';
@import '_includes/bootstrap-overrides';
@import '~bootstrap/scss/bootstrap';
@import '_includes/type';
@import '_includes/highlight';
@import '_includes/content';
@import '_includes/sidebar';
@import '_includes/pre';
@import '_includes/global-header';
@import '_includes/alert';
@import '_includes/expandable';
@import '_includes/steps';
@import '_includes/platform-specific-content';
@import '_includes/interactive-content';
@import '_includes/loader';
@import '_includes/api';
@import '_includes/development-api';
@import '_includes/user-content-ui';
@import '_includes/terms';


a .icon {
  margin-left: 0.25em;

  svg {
    width: 14px;
    height: 14px;
  }
}

:target {
  scroll-margin-top: ($headerHeight + $spacer);
}
