.select {
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  min-width: 15rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: hsl(204 20% 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  color: hsl(204 4% 0%);
  border: 2px solid #c7c5cc;
  color-scheme: light;
}

.select:focus {
  outline: 0;
  border-color: #f4c1d0;
  box-shadow: 0 0 0 0.2rem rgba(225, 85, 124, 0.25);
}

.select:hover {
  background-color: var(--desatPurple15);
}

@media (min-width: 640px) {
  .select {
    height: 2.25rem;
    font-size: 15px;
  }
}

.select-icon {
  translate: 4px 0;
}

.popover {
  z-index: 50;
  max-height: min(var(--radix-select-content-available-height), 336px);
  border-radius: 0.5rem;
  background-color: white;
  min-width: max(var(--radix-select-trigger-width), 15rem);
  box-shadow: 0px 8px 24px 0px rgba(31, 22, 51, 0.15);
  color-scheme: light;
  /* not ideal */
  margin-left: 6px;
}

/* fix for a weird miscalculation in the underlying transform calculation */
@media (min-width: 644px) {
  .popover {
    margin-left: 16px;
  }
}

.popover input {
  width: 100%;
  border-color: transparent;
}

.popover input:focus {
  outline: none;
}

.combobox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  padding-bottom: 0px;
}

.combobox {
  height: 2.5rem;
  appearance: none;
  border-radius: 0.25rem;
  background-color: hsl(204 4% 0% / 0.05);
  padding-right: 0.5rem;
  padding-left: 1.75rem;
  color: hsl(204 4% 0%);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.combobox::placeholder {
  color: hsl(204 4% 0% / 0.6);
}

@media (min-width: 640px) {
  .combobox {
    height: 2.25rem;
    font-size: 15px;
  }
}

.combobox-icon {
  pointer-events: none;
  position: absolute;
  left: 0.625rem;
  color: hsl(204 4% 0% / 0.6);
}

.listbox {
  overflow-y: auto;
  padding: 0.25rem;
}

.item {
  position: relative;
  display: flex;
  height: 2.5rem;
  cursor: default;
  scroll-margin-top: 0.25rem;
  scroll-margin-bottom: 0.25rem;
  align-items: center;
  border-radius: 0.25rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  color: hsl(204 4% 0%);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.item[data-active-item] {
  background-color: var(--brandPink);
  color: white;
}

.item-text {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .item {
    height: 2.25rem;
    font-size: 15px;
  }
}

.item-indicator {
  position: absolute;
  left: 0.375rem;
}
