@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900,400italic,300italic,600italic,700italic,900italic,200italic&subset=latin,latin-ext);

html, body {
    height: 100%;
    background: #f2f2f2;
}

a {
    color: #1791F8;
}

a:hover {
    color: #0677D6;
}

@font-face {
    font-family: 'getsentry';
    src: url('getsentry.eot?817zd7');
    src: url('getsentry.eot?#iefix817zd7') format('embedded-opentype'),
        url('getsentry.woff?817zd7') format('woff'),
        url('getsentry.ttf?817zd7') format('truetype'),
        url('getsentry.svg?817zd7#getsentry') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'getsentry';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-mark:before {
    content: "\e600";
}
.icon-logo:before {
    content: "\e601";
}



body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

header {
    background: none repeat scroll 0% 0% #FB2D26;
    padding: 30px 0;
}

header h1 {
    font-size: 32px;
    line-height: 48px!important;
    vertical-align: middle;
    font-weight: 300;
    color: white;
    margin: 0;
}

header span {
    display: block;
    float: left;
    line-height: 48px!important;
    vertical-align: middle;
    height: 48px;
}

header span.text {
    padding-left: 25px;
}

header select.dsn-select {
    float: right;
}

footer {
    background: #f2f2f2;
    color: #333;
    padding: 40px 0;
    text-align: center;
}

div.toc ul {
    margin: 0;
}

div.toc ul ul {
    padding-left: 20px;
}

div.toc a {
    color: #888;
}

div.toc ul a.current {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

div.page {
    padding: 20px 0 40px 0;
}

div.body {
    background: white;
}

a.headerlink {
    display: none;
}

div.admonition {
    margin: 25px 0;
    background: #eee;
    padding: 10px 15px;
    border-radius: 5px;
}

div.admonition p.admonition-title {
    font-weight: 600;
}

div.admonition p.last {
    margin-bottom: 0;
}

code {
    color: #1791F8;
    background: #eaf3fa;
}

code.descclassname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: normal;
}

code.descname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: 600;
}

dl dd {
    margin-left: 40px;
}

pre {
    border: none;
    border-radius: 5px;
}

span.dsn span.dsn-secret {
    font-size: 0;
}

span.dsn span.dsn-secret:after {
    content: "...";
    font-size: 13px;
    color: #888;
    background: #eee;
    border-radius: 3px;
}
