@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900,400italic,300italic,600italic,700italic,900italic,200italic&subset=latin,latin-ext);
@import url(platformicons/platformicons/platformicons.css);

::selection {
    background: #1791F8;
    color: #eaf3fa;
}

::-moz-selection {
    background: #1791F8;
    color: #eaf3fa;
}

html, body {
    height: 100%;
    background: #f2f2f2;
}

a {
    color: #1791F8;
}

a:hover {
    color: #0677D6;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h1 {
    font-size: 42px;
}

section.document p,
section.document ul,
section.document ol,
section.document dt,
section.document dd,
section.document li {
    line-height: 1.5;
}

@font-face {
    font-family: 'getsentry';
    src: url('getsentry.eot?817zd7');
    src: url('getsentry.eot?#iefix817zd7') format('embedded-opentype'),
        url('getsentry.woff?817zd7') format('woff'),
        url('getsentry.ttf?817zd7') format('truetype'),
        url('getsentry.svg?817zd7#getsentry') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'getsentry';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-mark:before {
    content: "\e600";
}
.icon-logo:before {
    content: "\e601";
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

header {
    background: none repeat scroll 0% 0% #FB2D26;
    padding: 30px 0;
}

header h1 {
    font-size: 32px;
    line-height: 48px!important;
    vertical-align: middle;
    font-weight: 300;
    color: white;
    margin: 0;
}

header span {
    display: block;
    float: left;
    line-height: 48px!important;
    vertical-align: middle;
    height: 48px;
}

header span.text {
    padding-left: 25px;
}

header select.dsn-select {
    float: right;
}

header select.dsn-select {
    width: 240px;
    padding: 3px 15px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

footer {
    background: #f2f2f2;
    color: #333;
    padding: 40px 0;
    text-align: center;
}

div.toc ul {
    margin: 0;
}

div.toc ul ul {
    padding-left: 20px;
}

div.toc a {
    color: #888;
}

div.toc ul a.current {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

div.page {
    padding: 20px 0 40px 0;
}

div.body {
    background: white;
}

a.headerlink {
    display: none;
}

div.admonition {
    margin: 25px 0;
    background: #eee;
    padding: 10px 15px;
    border-radius: 5px;
}

div.admonition p.admonition-title {
    font-weight: 600;
}

div.admonition p.last {
    margin-bottom: 0;
}

code {
    color: #1791F8;
    background: #eaf3fa;
}

code.descclassname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: normal;
}

code.descname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: 600;
}

dl dt {
    font-weight: normal;
}

dl dd {
    margin-left: 40px;
}

pre {
    border: none;
    border-radius: 5px;
}

span.dsn span.dsn-auth,
span.dsn-secret-key {
    font-size: 0;
}

span.dsn span.dsn-auth:after,
span.dsn-secret-key:after {
    cursor: pointer;
    content: "•••••••";
    background: #d8d8d8;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

/* platform selection.  This is used in clients/index.rst */
ul.platformlink {
    list-style: none;
    margin: 25px 0;
    padding: 0;
}

ul.platformlink li {
    margin: 0;
    padding: 0 0 0 20px;
    vertical-align: middle;
    line-height: 32px;
}

li p[class^="platformlink-"] a:first-child {
    font-weight: bold;
}

li p[class^="platformlink-"] a:first-child:before {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 58px;
    height: 58px;
	line-height: 58px;
    border-radius: 29px;
    text-align: center;
    vertical-align: middle;
	font-family: 'platformicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 42px;

    background: #eee;
    color: black;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li p.platformlink-python a:first-child:before {
	content: "\e602";
    background: #3776ab;
    color: white;
}

li p.platformlink-js a:first-child:before {
	content: "\e600";
    background: #ffd906;
}

li p.platformlink-php a:first-child:before {
	content: "\e601";
    background: #4F5B93;
    color: white;
}

li p.platformlink-ruby a:first-child:before {
	content: "\e604";
    background: #d00202;
    color: white;
    padding-top: 2px;
}

li p.platformlink-objc a:first-child:before {
	content: "\e607";
    background: #02bfd0;
    color: white;
}

li p.platformlink-java a:first-child:before {
	content: "\e608";
    background: #ff8a00;
    color: white;
}

li p.platformlink-csharp a:first-child:before {
	content: "\e60a";
    background: #0090ff;
    color: white;
}
