@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#changelogcontent {
  font-family: var(--font-rubik);
}

.radix-themes {
  --cursor-button: pointer;
  --iris-9: var(--accent-purple);
  --iris-a9: var(--accent-purple);
}

.fancy-border {
  transition-property: box-shadow, border-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;

  &:hover {
    box-shadow:
      0 2px 0 rgba(54, 45, 89, 0.15),
      -0.1875rem -0.1875rem 0 0.1875rem #f2b712,
      0 0 0 0.375rem #e1567c;
    text-decoration: none;
    cursor: pointer;
  }
}

.hero-top-left-down-slope {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
}

.hero-bottom-left-down-slope {
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
}

.footer-top-right-down-slope {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}

.icon {
  margin-left: 0.25em;

  svg {
    display: inline;
    width: 14px;
    height: 14px;
  }
}

:root {
  /* Oranges */
  --flame0: #df5128;
  --flame1: #e55e32;
  --flame2: #ea6b3c;
  --flame3: #ef7846;
  --flame4: #f4834f;
  --flame5: #f79a4f;
  --flame6: #faaf4e;
  --flame7: #edcf9e;
  --flame8: #ffefae;

  /* A range of desaturated purples */
  --desatPurple0: #0f0a1f;
  --desatPurple1: #231c3d;
  --desatPurple2: #362d59;
  --desatPurple3: #473a67;
  --desatPurple4: #584774;
  --desatPurple5: #64517d;
  --desatPurple6: #79628c;
  --desatPurple7: #846e95;
  --desatPurple8: #9481a4;
  --desatPurple9: #a796b4;
  --desatPurple10: #bbadc6;
  --desatPurple11: #c3b6ce;
  --desatPurple12: #d2c7da;
  --desatPurple13: #e2d9e9;
  --desatPurple14: #efe8f4;
  --desatPurple15: #faf8ff;

  /* saturated purples */
  --brandPink: #e1557c;
  --brandLink: var(--brandPink);
  --darkPink: #c83852;
  --codeColor: #9c5f99;
  --brandDecoration: var(--desatPurple4);
  /* accents */
  --accent-purple: #6a5fc1;
  --accent-md-violet: '#584774';
  --accent-purple-light: #e1dff3;
  --accent-yellow: #fedb4b;
  --gray: #c7c5cc;
  --dark-purple: #1f1633;
  /* misc */
  --jewel0: #69c289;
  /* Sentry green */
  --jewel1: #007a78;
  /* Darkened Sentry green */
  --lightBlue: #48a5db;
  /* Sentry blue */

  /*
  Color variables
*/
  --white: #ffffff;
  --lightText: #9093c1;
  --highlightPurple: var(--brandLink);
  --lightPurple: var(--desatPurple11);
  --lightestPurple: var(--desatPurple12);
  --mediumPurple: var(--desatPurple6);
  --darkestPurple: var(--desatPurple0);
  --darkPurple: var(--desatPurple2);
  --boldRed: var(--flame0);
  --textDecorationPurple: var(--brandDecoration);
  --lightestPurpleBackground: rgba(210, 199, 218, 0.2);
  --successGreen: var(--jewel0);

  --transition-time: 0.125s;

  --headerHeight: 4rem;

  --light-text: var(--lightText);
  --lightest-purple-background: var(--lightestPurpleBackground);
  /* new design tokens */
  --color-purples-V-Lt-Purple: #e2abe0;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
