@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.radix-themes {
  --cursor-button: pointer;
  --iris-9: var(--accent);
  --iris-a9: var(--accent);
  --shadow-6: 0px 4px 16px 0px rgba(31, 22, 51, 0.1);
  --foreground-secondary: var(--gray-11);
  --accent: var(--accent-purple);
  --foreground: var(--gray-12);
  --cursor-checkbox: pointer;
  --default-font-family: var(--font-rubik) !important;
  ::selection {
    background-color: var(--accent-a7);
  }
  pre::selection {
    background-color: rgba(106, 95, 193, 0.5);
  }
}

.dark {
  .radix-themes {
    --accent: var(--accent-11);
  }

  --codeColor: #ff88b6 !important;
  --border-color: var(--gray-a2) !important;
  --tw-prose-bold: var(--foreground) !important;
  --darkPurple: var(--foreground) !important;
}

.icon {
  margin-left: 0.25em;

  svg {
    display: inline;
    width: 14px;
    height: 14px;
  }
}

.icon-external-link {
  margin-left: 0;

  svg {
    margin-left: 0.15em;
  }
}

:root {
  /* Oranges */
  --flame0: #df5128;
  --flame1: #e55e32;
  --flame2: #ea6b3c;
  --flame3: #ef7846;
  --flame4: #f4834f;
  --flame5: #f79a4f;
  --flame6: #faaf4e;
  --flame7: #edcf9e;
  --flame8: #ffefae;

  /* A range of desaturated purples */
  --desatPurple0: #0f0a1f;
  --desatPurple1: #231c3d;
  --desatPurple2: #362d59;
  --desatPurple3: #473a67;
  --desatPurple4: #584774;
  --desatPurple5: #64517d;
  --desatPurple6: #79628c;
  --desatPurple7: #846e95;
  --desatPurple8: #9481a4;
  --desatPurple9: #a796b4;
  --desatPurple10: #bbadc6;
  --desatPurple11: #c3b6ce;
  --desatPurple12: #d2c7da;
  --desatPurple13: #e2d9e9;
  --desatPurple14: #efe8f4;
  --desatPurple15: #faf8ff;

  /* saturated purples */
  --brandPink: #e1557c;
  --brandLink: var(--brandPink);
  --darkPink: #c83852;
  --codeColor: #9c5f99;
  --brandDecoration: var(--desatPurple4);
  /* accents */
  --accent-purple: #6a5fc1;
  --accent-md-violet: '#584774';
  --accent-purple-light: #e1dff3;
  --accent-yellow: #fedb4b;
  --gray: #c7c5cc;
  --dark-purple: #1f1633;
  /* misc */
  --jewel0: #69c289;
  /* Sentry green */
  --jewel1: #007a78;
  /* Darkened Sentry green */
  --lightBlue: #48a5db;
  /* Sentry blue */

  /*
  Color variables
*/
  --white: #ffffff;
  --lightText: #9093c1;
  --highlightPurple: var(--brandLink);
  --lightPurple: var(--desatPurple11);
  --lightestPurple: var(--desatPurple12);
  --mediumPurple: var(--desatPurple6);
  --darkestPurple: var(--desatPurple0);
  --darkPurple: var(--desatPurple2);
  --boldRed: var(--flame0);
  --textDecorationPurple: var(--brandDecoration);
  --lightestPurpleBackground: rgba(210, 199, 218, 0.2);
  --successGreen: var(--jewel0);

  --transition-time: 0.125s;

  --headerHeight: 4rem;

  --light-text: var(--lightText);
  --lightest-purple-background: var(--lightestPurpleBackground);

  --paragraph-margin-bottom: 1rem;
  --border-color: #dee2e6;
  --font-family-monospace: 'Roboto Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo,
    Courier, monospace;

  --fade-in-animation: fadeIn;

  /* https://storybook.sentry.dev/?path=/story/core-colors--page */
  --gray-500: #2b2233;
  --gray-400: #3e3446;
  --gray-300: #80708f;
  --gray-200: #dbd6e1;
  --gray-100: #ebe6ef;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#kapa-widget-portal a[href="https://sentry.io/privacy/"]
{
  color: rgb(134, 142, 150) !important;
}
