<section class="peek text-white d-none" data-peek>
  <div class="container py-3 py-md-5">
    <div class="row">
      <div class="col-md-6">
        <h4>Meta image</h4>
        <div class="mb-3 content-flush-bottom">
          <a href="{{ meta_image_asset_url }}" title="Link to larger version of the meta image for this page">
          <img src="{{ meta_image_asset_url }}" class="img-fluid rounded" alt="Meta image for this page">
          </a>
        </div>
      </div>
      <div class="col-md-6 content-flush-bottom">
        <h4>Title:</h4>
        <div class="rounded mb-3 family-mono text-success">
          {{ meta_title }}
        </div>

        <h4>Description:</h4>
        <div class="rounded family-mono text-success">
          {{ meta_description }}
        </div>
      </div>
    </div>
  </div>
</section>
