@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-border {
  transition-property: box-shadow, border-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;

  &:hover {
    box-shadow:
      0 2px 0 rgba(54, 45, 89, 0.15),
      -0.1875rem -0.1875rem 0 0.1875rem #f2b712,
      0 0 0 0.375rem #e1567c;
    text-decoration: none;
    cursor: pointer;
  }
}

.icon {
  margin-left: 0.25em;

  svg {
    display: inline;
    width: 14px;
    height: 14px;
  }
}
