.alert,
.note {
  background: var(--accent-2);
  border-color: var(--accent-12);
  border-left: 3px solid var(--accent-12);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  > .alert-header {
    font-weight: 500;
    position: relative;
    font-size: 1em;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  strong {
    font-weight: 500;
  }

  ul {
    padding-inline-start: 2rem;
  }

  p:last-of-type,
  ul:last-of-type {
    margin-bottom: 0;
  }

  p:first-of-type,
  ul:first-of-type {
    margin-top: 0;
  }

  .alert-body {
    font-size: 0.9rem;
  }
}

.alert-info {
  background: var(--blue-2);
  border-color: var(--blue-11);
  color: var(--blue-12);
}

.alert-warning {
  background: var(--amber-2);
  border-color: var(--amber-10);
  color: var(--amber-12);
}

.alert-danger {
  background: var(--red-2);
  border-color: var(--red-10);
  color: var(--red-12);
}

.alert-success {
  background: var(--green-2);
  border-color: var(--green-10);
  color: var(--green-12);
}
