.alert {
  background: var(--accent-2);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: var(--gray-500);
  display: flex;
  flex-direction: row;
  gap: 0.7em;
  line-height: 1.75em;

  p {
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  strong {
    font-weight: 500;
  }

  ul, ol {
    padding-inline-start: 2rem;
    margin-top: 0;
  }

  li {
    padding-inline-start: 0;
    margin: 0;
  }
}

.alert-icon {
  flex: 1em 0 0;
  height: 1.75em;
}

.alert-content {
}

.alert-header {
  font-weight: 500;
}

.alert-info {
  background: var(--desatPurple15);
}

.alert-warning {
  background: var(--desatFlame8);

  > .alert-icon {
    color: var(--flame5);
  }
}
