@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900,400italic,300italic,600italic,700italic,900italic,200italic&subset=latin,latin-ext);
@import url(../external/platformicons/platformicons/platformicons.css);
@import url(selectize.less);

// Colors

@grayDark: #383A47;
@gray: #696D80;
@gray-light: #B5B9BD;
@sentry-orange: #fb4226;
@blue: #2eb0f7;
@green: #34c08b;
@yellow: #fece09;
@red: #e8535a;
@pink: #DB3B8A;
@purple: #a47ac6;
@teal: #45c2c9;
@trim: #e5eaee;

::selection {
    background: #1791F8;
    color: #eaf3fa;
}

::-moz-selection {
    background: #1791F8;
    color: #eaf3fa;
}

html, body {
    height: 100%;
}

a {
    color: @blue;
    -webkit-transition: .1s linear color;
    -moz-transition: .1s linear color;
    transition: .1s linear color;
}

a:hover {
    color: darken(@blue, 15);
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 20px 0;
}

h1 {
    font-size: 42px;
}

section.document p,
section.document ul,
section.document ol,
section.document dt,
section.document dd,
section.document li {
    line-height: 1.6;
}

.document {
    h1, h2, h3 {
        margin: 30px 0 20px;
    }
}

p, ul, ol {
    margin: 20px 0;

    ul, ol {
        margin: 0;
    }
}

@font-face {
    font-family: 'getsentry';
    src: url('getsentry.eot?817zd7');
    src: url('getsentry.eot?#iefix817zd7') format('embedded-opentype'),
        url('getsentry.woff?817zd7') format('woff'),
        url('getsentry.ttf?817zd7') format('truetype'),
        url('getsentry.svg?817zd7#getsentry') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'getsentry';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-mark:before {
    content: "\e600";
}
.icon-logo:before {
    content: "\e601";
}

.icon-search:before {
    content: "\e605";
}

body {
    font-family: 'Avenir Next', 'Avenir', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: @grayDark;
}

header {
    background: @grayDark;
    padding: 30px 0;
    height: 90px;
    color: #fff;

    h1 {
        font-size: 30px;
        margin: 0;

        .text {
            color: #D1D3E1;
            font-size: 21px;
            padding: 0 0 0 15px;
            font-weight: 400;
            margin: 4px 0 0 15px;
            border-left: 1px solid #585A67;
            height: 21px;
        }

        a, a:active {
            color: #fff;
        }

        a:hover {
            color: #fff;
        }
    }

    span {
        display: block;
        float: left;
    }

    .user-nav {
        list-style-type: none;
        padding: 0;
        float: right;
        margin: 6px 0 0;

        > li {
            float: left;
            margin-left: 30px;
            text-transform: uppercase;
            font-size: 14px;

            > a {
                color: #D1D3E1;
                &:hover {
                    color: lighten(#D1D3E1, 5);
                    text-decoration: none;
                }

                &.cta {
                    background: @sentry-orange;
                    color: #fff;
                    padding: 8px 14px 7px;
                    border-radius: 2px;
                    font-weight: 500;
                    font-size: 13px;
                }
            }

            &.divider {
                width: 1px;
                height: 18px;
                background: #585A67;
            }
        }

        .dropdown {
            top: -3px;

            a, a:hover {
                text-decoration: none;
            }
        }

        .dropdown-menu {
            left: auto;
            right: 0;
        }

        .avatar {
            width: 24px;
            height: 24px;
            border-radius: 2px;
        }
    }
}

.subheader {
    padding: 13px 0;
    background: darken(#F4F6F7, 2);

    .search {
        float: right;
        position: relative;

        .icon-search {
            position: absolute;
            top: 8px;
            left: 10px;
            color: #A5A8B5;
        }

        input {
            font-size: 16px;
            border: 0;
            // border-bottom: 1px solid darken(@trim, 6);
            padding: 7px 15px 5px 36px;
            border-radius: 2px;
            width: 250px;
            background: #fff;

            &::-webkit-input-placeholder { color: lighten(@gray, 20); }
            &:-moz-placeholder           { color: lighten(@gray, 20); }
            &::-moz-placeholder          { color: lighten(@gray, 20); }
            &:-ms-input-placeholder      { color: lighten(@gray, 20); }

            &:focus {
                outline: 0;
            }
        }
    }

    .edition-select {
        margin: 7px 0 0;

        li {
            font-size: 16px;
            float: left;
            margin: 0 30px 0 0;

            a {
                color: lighten(@gray, 20);
                padding: 15px 0;

                &:hover, &:focus {
                    text-decoration: none;
                    color: @gray;
                }
            }

            &.active a {
                font-weight: 600;
                color: @grayDark;
                border-bottom: 3px solid @blue;
            }
        }
    }
}

.dsn-container {
    float: right;
    margin-top: 15px;
    font-size: 14px;
    vertical-align: middle;
    color: @gray;
    line-height: 26px;

    .dsn {
        margin-left: 5px;
        position: relative;
        top: -4px;
    }

    .dsn, .dsn-select {
        display: inline-block;
        vertical-align: top;
    }

    .dsn-select {
        width: 200px;
    }
}

.breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0;
    white-space: nowrap;
    margin-right: 140px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.1 !important;

    a {
        color: @grayDark;
        font-weight: 500;
    }

    li {
        line-height: 1.1 !important;
    }

    li+li:before {
        padding: 0 10px;
    }

    li:last-child a {
        color: lighten(@gray, 10);
        font-weight: normal;
    }
}

footer {
    border-top: 1px solid @trim;
    padding: 40px 0;
    font-size: 14px;
}


// merge toc-trees that are close.
.toctree-wrapper ul {
    margin: 20px 0;
}

.toctree-wrapper + .toctree-wrapper ul {
    margin-top: -20px;
}

.toctree-wrapper ul ul,
.toctree-wrapper + .toctree-wrapper ul ul {
    margin: 0;
}

.toctree-wrapper ul:empty {
    display: none;
}

.toc, .sitemap {
    font-size: 16px;

    > ul {
        padding-left: 0;

        > li {
            list-style-type: none;
        }
    }

    ul {
        margin: 0;

        ul {
            padding-left: 32px;
        }

        li {
            line-height: 1.7;
        }

        a.current {
            color: @grayDark;
            font-weight: 600;
            text-decoration: none;
        }
    }

    a {
        color: @gray;
    }
}

.sidebar {
    h3, .client-toc > ul > li > a {
        display: block;
        margin: 20px 0;
        color: black;
        font-weight: 500;
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.client-toc > ul {
    list-style-type: none;
}

.client-toc > ul > li > ul {
    padding-left: 0;
    list-style-type: none;
}

div.toc {
    // start out with hiding all list items
    ul li {
        display: none;
    }

    // show all top-level links always
    > ul > li,
    // show all active list items
    ul > li.current,
    // show all relevant list items
    ul > li.relevant,
    // show all expanded    [disable this to make a smaller tree]
    ul > li.current > ul.current > li,
    // show children of the currently active link
    ul > li.active > ul > li {
        display: list-item;
    }
}

// client toc toplevel is a bit different and also needs
// to be shown always.
.client-toc > ul > li > ul > li {
    display: list-item;
}

.client-quick-links {
    font-size: 16px;
    a {
        line-height: 1.2;
        color: @gray;
        display: inline-block;
        vertical-align: middle;

        &:hover {
            color: @grayDark;
        }
    }

    .platformicon {
        line-height: 1.2;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        opacity: .45;
        width: 32px;
        text-align: center;
        position: relative;
        top: -1px;
        left: -2px;
    }

    .platformicon-python {
        font-size: 28px;
    }

    .platformicon-js {
        font-size: 28px;
    }

    .platformicon-php {
        font-size: 30px;
        top: -2px;
    }

    .platformicon-generic {
        top: -2px;
    }
}

div.page {
    padding: 20px 0 40px 0;
}

div.body {
    background: white;
}

a.headerlink {
    display: none;
}

div.admonition {
    margin: 25px 0;
    background: #eee;
    padding: 10px 15px;
    border-radius: 5px;
}

div.admonition p {
    margin: 15px 0;
}

div.admonition p.admonition-title {
    font-weight: 600;
    margin-top: 0;
}

div.admonition p.last {
    margin-bottom: 0;
}

code {
    color: #1791F8;
    background: #eaf3fa;
}

code.descclassname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: normal;
}

code.descname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: 600;
}

dl dt {
    font-weight: normal;
}

dl dd {
    margin-left: 40px;
}

pre {
    border: none;
    border-radius: 5px;
}

span.dsn span.dsn-auth,
span.dsn-secret-key {
    font-size: 0;
}

span.dsn span.dsn-auth:after,
span.dsn-secret-key:after {
    cursor: pointer;
    content: "•••••••";
    background: #d8d8d8;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

/* platform selection.  This is used in clients/index.rst */
ul.platformlink {
    list-style: none;
    padding: 0;
}

ul.platformlink li {
    float: left;
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;

    a, a:hover {
        text-decoration: none;
        display: block;
    }

    p {
        font-size: 16px;
        text-align: center;
        margin: 0 0 30px;
    }

    em {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        display: block;
        color: @grayDark;
        margin: 10px 0 5px;

        &:hover {
            color: darken(@grayDark, 10);
            text-decoration: underline;
        }
    }
}

li p[class^="platformlink-"] a:first-child {
    font-weight: bold;
}

li p[class^="platformlink-"] a:first-child:before,
div[class^="platform-"] h1:before {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100%;
    text-align: center;
    font-family: 'platformicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 50px;

    background: #eee;
    color: black;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li p[class^="platformlink-"] a:hover:first-child:before {
    padding: 0;
    box-shadow: inset 0 0 0 3px rgba(0,0,0, .15);
}

[class^="platform-"] h1:before{
    float: right;
}

li p.platformlink-python a:first-child:before,
div.platform-python h1:before {
    content: "\e602";
    background: #3776ab;
    color: white;
}

li p.platformlink-js a:first-child:before,
div.platform-js h1:before {
    content: "\e600";
    background: #ffd906;
}

li p.platformlink-php a:first-child:before,
div.platform-php h1:before {
    content: "\e601";
    background: #4F5B93;
    color: white;
}

li p.platformlink-ruby a:first-child:before,
div.platform-ruby h1:before {
    content: "\e604";
    background: #d00202;
    color: white;
}

li p.platformlink-objc a:first-child:before,
div.platform-objc h1:before {
    content: "\e60d";
    background: #02bfd0;
    color: white;
    line-height: 96px;
}

div.platform-objc h1:before {
    line-height: 96px;
}

li p.platformlink-java a:first-child:before,
div.platform-java h1:before {
    content: "\e608";
    background: #ff8a00;
    color: white;
}

li p.platformlink-csharp a:first-child:before,
div.platform-csharp h1:before {
    content: "\e60b";
    background: #0090ff;
    color: white;
}

.selectize-input, .selectize-input.focus {
    box-shadow: none;
}


// Responsive

@media (max-width: 1023px) {

    header span.text {
        display: none;
    }

    .subheader {
        overflow: hidden;
    }

    .subheader .edition-select {
        white-space: nowrap;

        li {
            float: none;
            display: inline-block;
        }
    }

    .subheader .edition-select li a {
        padding: 11px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
    }

    .subheader {
        .search {
            float: none;
            display: block;
            width: 100%;
            margin-bottom: 15px;

            input {
                width: 100%;
            }
        }
    }

    .dsn-container {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .page {
        zoom: .85;
        font-size: 14px;
    }
}
