@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900,400italic,300italic,600italic,700italic,900italic,200italic&subset=latin,latin-ext);
@import url(../external/platformicons/platformicons/platformicons.css);

// Colors

@grayDark: #383A47;
@gray: #696D80;
@gray-light: #B5B9BD;
@sentry-orange: #fb4226;
@blue: #2eb0f7;
@green: #34c08b;
@yellow: #fece09;
@red: #e8535a;
@pink: #DB3B8A;
@purple: #a47ac6;
@teal: #45c2c9;
@trim: #e5eaee;

::selection {
    background: #1791F8;
    color: #eaf3fa;
}

::-moz-selection {
    background: #1791F8;
    color: #eaf3fa;
}

html, body {
    height: 100%;
}

a {
    color: #1791F8;
}

a:hover {
    color: #0677D6;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 20px 0;
}

h1 {
    font-size: 42px;
}

section.document p,
section.document ul,
section.document ol,
section.document dt,
section.document dd,
section.document li {
    line-height: 1.6;
}

.document {
    h1, h2, h3 {
        margin: 30px 0 20px;
    }
}

p, ul, ol {
    margin: 20px 0;

    ul, ol {
        margin: 0;
    }
}

@font-face {
    font-family: 'getsentry';
    src: url('getsentry.eot?817zd7');
    src: url('getsentry.eot?#iefix817zd7') format('embedded-opentype'),
        url('getsentry.woff?817zd7') format('woff'),
        url('getsentry.ttf?817zd7') format('truetype'),
        url('getsentry.svg?817zd7#getsentry') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'getsentry';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-mark:before {
    content: "\e600";
}
.icon-logo:before {
    content: "\e601";
}


body {
    font-family: 'Avenir Next', 'Avenir', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: @grayDark;
}

header {
    padding: 22px 0;
    border-bottom: 1px solid @trim;

    h1 {
        font-size: 32px;
        line-height: 48px!important;
        vertical-align: middle;
        margin: 0;

        .text {
            color: @gray;
            font-size: 24px;
            padding: 2px 0 0 25px;
            font-weight: 400;
        }

        a, a:active {
            color: @grayDark;
        }

        a:hover {
            color: @grayDark;
        }
    }

    span {
        display: block;
        float: left;
        line-height: 48px!important;
        vertical-align: middle;
        height: 48px;
    }

    select.dsn-select {
        float: right;
        width: 240px;
        padding: 3px 15px;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
}

footer {
    background: #f2f2f2;
    padding: 40px 0;
    text-align: center;
}

.sidebar {
    padding-top: 10px;

    h3 {
        margin: 20px 0;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.toc {
    font-size: 16px;

    > ul {
        padding-left: 0;

        > li {
            list-style-type: none;
        }
    }

    ul {
        margin: 0;

        ul {
            padding-left: 32px;
        }

        li {
            line-height: 1.7;
        }

        a.current {
            color: @grayDark;
            font-weight: 600;
            text-decoration: none;
        }
    }

    a {
        color: @gray;
    }
}

div.page {
    padding: 20px 0 40px 0;
}

div.body {
    background: white;
}

a.headerlink {
    display: none;
}

div.admonition {
    margin: 25px 0;
    background: #eee;
    padding: 10px 15px;
    border-radius: 5px;
}

div.admonition p.admonition-title {
    font-weight: 600;
}

div.admonition p.last {
    margin-bottom: 0;
}

code {
    color: #1791F8;
    background: #eaf3fa;
}

code.descclassname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: normal;
}

code.descname {
    background: transparent;
    padding: 0;
    color: #444;
    border-radius: none;
    font-weight: 600;
}

dl dt {
    font-weight: normal;
}

dl dd {
    margin-left: 40px;
}

pre {
    border: none;
    border-radius: 5px;
}

span.dsn span.dsn-auth,
span.dsn-secret-key {
    font-size: 0;
}

span.dsn span.dsn-auth:after,
span.dsn-secret-key:after {
    cursor: pointer;
    content: "•••••••";
    background: #d8d8d8;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

/* platform selection.  This is used in clients/index.rst */
ul.platformlink {
    list-style: none;
    margin: 25px 0;
    padding: 0;
}

ul.platformlink li {
    margin: 0;
    padding: 0 0 0 20px;
    vertical-align: middle;
    line-height: 32px;
}

li p[class^="platformlink-"] a:first-child {
    font-weight: bold;
}

li p[class^="platformlink-"] a:first-child:before,
div[class^="platform-"] h1:before {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 3px;
    width: 58px;
    height: 58px;
	line-height: 55px;
    border-radius: 29px;
    text-align: center;
    vertical-align: middle;
	font-family: 'platformicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 42px;

    background: #eee;
    color: black;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div[class^="platform-"] h1:before {
    margin: 0 0 15px 15px;
    float: right;
	font-size: 72px;
    width: 96px;
    height: 96px;
	line-height: 92px;
    border-radius: 48px;
}

li p[class^="platformlink-"] a:hover:first-child:before {
    padding: 0;
    border: 3px solid black;
}

li p.platformlink-python a:first-child:before,
div.platform-python h1:before {
	content: "\e602";
    background: #3776ab;
    color: white;
}

li p.platformlink-js a:first-child:before,
div.platform-js h1:before {
	content: "\e600";
    background: #ffd906;
}

li p.platformlink-php a:first-child:before,
div.platform-php h1:before {
	content: "\e601";
    background: #4F5B93;
    color: white;
}

li p.platformlink-ruby a:first-child:before,
div.platform-ruby h1:before {
	content: "\e604";
    background: #d00202;
    color: white;
    line-height: 57px;
}

div.platform-ruby h1:before {
    line-height: 90px;
}

li p.platformlink-objc a:first-child:before,
div.platform-objc h1:before {
	content: "\e60d";
    background: #02bfd0;
    color: white;
    line-height: 50px;
}

div.platform-objc h1:before {
    line-height: 83px;
}

li p.platformlink-java a:first-child:before,
div.platform-java h1:before {
	content: "\e608";
    background: #ff8a00;
    color: white;
}

li p.platformlink-csharp a:first-child:before,
div.platform-csharp h1:before {
	content: "\e60b";
    background: #0090ff;
    color: white;
}
