.cta {
  background: var(--accent-a2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 1.25rem;
  border-radius: 0.25em;
  small {
    font-size: 0.9rem;
  }
  strong {
    color: var(--foreground);
  }
}
