.expandable-header {
  display: flex;
  cursor: pointer;
  gap: 0.7rem;
  margin-bottom: 0.3rem;
  justify-content: space-between;
  align-items: center;
}

.expandable-title-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.copy-button {
  border: 1px solid var(--gray-200);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
  transition:
    background-color 150ms linear,
    border-color 150ms linear,
    color 150ms linear;

  &:hover {
    background-color: var(--gray-100);
    border-color: var(--gray-300);
    color: #333333;
  }

  &:active {
    background-color: var(--gray-200);
    color: #333333;
  }
}

.expandable-body {
  margin-left: 1.6rem;

  & ul,
  & ol {
    padding-left: 1.2rem;
  }
}

.expandable {
  &:open {
    padding-bottom: 1rem;
  }

  &:not(:open) .expandable-header {
    margin-bottom: 0;
  }
}
