@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex';
  src: url('../fonts/ibm-plex.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import "_includes/variables";
@import "_includes/bootstrap-overrides";
@import "~bootstrap/scss/bootstrap";
@import "_includes/type";
@import "_includes/grid";
@import "_includes/highlight";
@import "_includes/content";
@import "_includes/sidebar";
@import "_includes/pre";
@import "_includes/integrations";
@import "_includes/global-header";
@import "_includes/breadcrumb";
@import "_includes/alert";
@import "_includes/steps";
@import "_includes/platform-specific-content";
@import "_includes/interactive-content";
@import "_includes/search";
@import "_includes/tracking-widget";
@import "_includes/loader";
@import "_includes/platform-link";
@import "_includes/index";
@import "_includes/api";
@import "_includes/development-api";
@import "_includes/user-content-ui";
@import "_includes/code-blocks";
@import "_includes/large-definition-list";

code[class*="language-"], pre[class*="language-"] {
  font-family: 'IBM Plex', SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace !important;
}

pre[class*="language-"] {
  font-size: 0.85em;
  border: 0;
  border-radius: 4px;
  margin: 0 0 1rem;
  padding: 1rem;
}

.github-cta {
  border: 1px solid var(--gray);
  background: var(--light);
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25em;
}

a .icon {
  margin-left: 0.25em;

  svg {
    width: 14px;
    height: 14px;
  }
}

ul p,
ol p,
ul ul,
ul ol,
ol,
ul {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}
