:global(.dark) {
  .sidebar.sidebar {
    --sidebar-item-bg-hover: var(--gray-a4);
    --sidebar-item-color: var(--accent);
  }
}
.sidebar {
  margin-top: 0px;
  --sidebar-item-bg-hover: var(--accent-purple-light);
  --sidebar-item-color: var(--accent-purple);
  background-color: var(--gray-1);
  top: var(--header-height);
  bottom: 0;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  border-right: 1px solid var(--border-color);
  position: fixed;
  display: none;
  flex-shrink: 0;
  height: 100vh;

  @media only screen and (min-width: 768px) {
    position: fixed;
    left: 0;
    top: var(--header-height, 80px);
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height, 80px));
    display: flex;

    & + :global(.main-content) {
      margin-left: var(--sidebar-width);
      width: calc(100% - var(--sidebar-width));
    }
  }

  // the checkbox controls the sidebar visibility on mobile
  // otherwise it's always visible on desktop
  @media only screen and (max-width: 1024px) {
    &:has(> #navbar-menu-toggle:checked) {
      display: flex;

      & + :global(.main-content) {
        margin-left: var(--sidebar-width);
        width: calc(100% - var(--sidebar-width));
      }
    }

    &:has(> #navbar-menu-toggle:not(:checked)) {
      display: none;

      & + :global(.main-content) {
        margin-left: 0;
      }
    }
  }

  // 0 margin on mobile for main content
  @media only screen and (max-width: 768px) {
    &:has(> #navbar-menu-toggle:checked) + :global(.main-content) {
      margin-left: 0;
    }
  }

  .sidebar-separator {
    border-top: 1px solid var(--border-color);
  }

  .toc {
    font-size: 0.875rem;
    flex: 1;
    overflow: auto;

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  :global(.toc-item) {
    padding-left: 0;
  }

  :global(.toc-item) :global(.toc-item) {
    padding-left: 0.75rem;
  }

  [data-sidebar-branch] [data-sidebar-branch] > [data-sidebar-tree] {
    margin-bottom: 0;
  }

  [data-sidebar-link] {
    position: relative;
    line-height: 1.5;
    border-radius: 4px;
    padding: 0.5rem;
    opacity: 0.8;
    text-decoration: none;
    transition: var(--transition-time) ease-out;

    &:hover {
      opacity: 1;
      text-decoration: none;
      color: var(--sidebar-item-color);
      background-color: var(--sidebar-item-bg-hover);
    }

    &:global(.active) {
      opacity: 1;
      color: var(--white);
      background-color: var(--accent-purple);
    }
  }
}

.sidebar-link-top-level {
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: inherit;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;

  &.active {
    background-color: var(--brandDecoration);
  }
}

.sidebar-main {
  flex: 1;
  overflow: auto;
}

.sidebar-external-links {
  /* No flex or overflow, just sits at the bottom */
  padding-bottom: 60px;
}
