{%- assign __category = include.categories
  | where: 'slug', include.slug
  | first
-%}
{%- if include.document -%}
<a href="{{ include.document.url }}" class="sidebar-title d-flex align-items-center text-warning mb-2{% if include.document.path == page.path %} active{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Development only" data-sidebar-link>
  {% include /svg/{{ __category.icon }}.svg %}
  <h6 class="ml-2">
    {{- __category.title -}}
  </h6>
</a>
{%- else -%}
<div class="sidebar-title d-flex align-items-center mb-2 text-warning" data-toggle="tooltip" data-placement="bottom" title="Development only">
  {% include /svg/{{ __category.icon }}.svg %}
  <h6 class="ml-2">
    {{- __category.title -}}
  </h6>
</div>
{%- endif -%}
