<div class="list-item mb-5">
  {%- if include.category -%}
  <div class="sidebar-title d-flex align-items-center mb-2">
    {% include /svg/{{ include.category.icon }}.svg %}
    <h6 class="ml-2">{{ include.category.title }}</h6>
  </div>
  {%- endif -%}
  <ul class="sidebar-list text-white">
    {%- for __document in include.documents -%}
    <li class="sidebar-list-item">
      <a href="{{ __document.url }}" class="sidebar-link{% if page.path == __document.path %} active{% endif %}">{{ __document.title }}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>
