{% comment %}
Save the previous context so this loop doesn't clobber data from it's parent call
{% endcomment %}
{%- assign __CONTEXT_items_at_current_depth = __items_at_current_depth -%}
<ul class="list-unstyled" data-sidebar-tree>
{%- for __item in include.data -%}
<li class="{% if include.is_category %}mb-3{% else %}toc-item{% endif %}" data-sidebar-branch
  {%- if include.is_category %}
  {%- assign __category = include.categories
    | where: 'slug', __item.slug
    | first
  -%}
  {%- if __category.empty_title %}></li>{% continue %}{%- endif -%}
  {%- if __category.hide_when_inactive %} data-hide-when-inactive{%- endif -%}
  {%- endif -%}
>
  {%- include sidebar/preserve_context.html -%}

  {%- assign __template_list = include.templates
    | split: ","
  -%}
  {%- assign __template_slug = __template_list
    | first
  -%}
  {%- assign __template_path = __template_slug
    | prepend: "sidebar/"
    | append: ".html"
  -%}
  
  {%- assign __document = __item.document | default: __item.items[0].document -%}
  {%- include {{ __template_path }}
    slug=__item.slug
    document=__document
    categories=include.categories
  -%}

  {%- assign __new_template_list_length = __template_list.size
    | minus: 1
  -%}
  {%- if __new_template_list_length < 1 -%}
    {%- assign __new_template_list = __template_slug -%}
  {%- else -%}
    {%- assign __new_template_list = __template_list
      | slice: 1, __new_template_list_length
      | join: ','
    -%}
  {%- endif -%}

  {% include sidebar/tree.html
    data=__item.items
    templates=__new_template_list
  %}

  {%- include sidebar/restore_context.html -%}
</li>
{%- endfor -%}
</ul>

{% comment %}
Reset our variables so the state is clean for the next loop
{% endcomment %}
{%- assign __items_at_current_depth = __CONTEXT_items_at_current_depth -%}
