.search {
  --sgs-color-border: var(--desatPurple12);

  --sgs-color-white: #ffffff;

  --sgs-color-progress-indicator: var(--desatPurple1);

  --sgs-color-result-heading-backgorund: var(--desatPurple4);
  --sgs-color-result-heading-text: #ffffff;

  --sgs-color-hit-text: var(--desatPurple1);
  --sgs-color-hit-highlight: var(--flame0);
  --sgs-color-hit-context: var(--desatPurple4);
  --sgs-color-hit-hover-background: var(--lightestPurpleBackground);
  --sgs-color-expand-results-background: var(--lightestPurpleBackground);
  --sgs-color-expand-results-text: var(--desatPurple6);
  position: relative;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-left: 0;
    align-items: flex-start;
  }
}

.search-input {
  border: 1.5px solid var(--sgs-color-border);
  border-radius: 4px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.8;
  border-radius: 0.25rem;
  min-width: 0;
  // min-width triggers a layout reflow
  will-change: min-width;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    min-width 0.3s ease-in-out;

  &:focus {
    outline: 0;
    border-color: var(--accent-purple);
    box-shadow: 0 0 0 0.2rem var(--accent-purple-light);
    min-width: 20rem;
  }

  @media screen and (max-width: 768px) {
    width: calc(var(--radix-popper-available-width) - 2 * 0.5rem);
    display: block;
  }
}

.sgs-search-results {
  position: absolute;
  margin-top: 1rem;
  z-index: 5;
  box-shadow: var(--shadow-6);
  border-radius: 0.25rem;
  background-color: var(--sgs-color-white);
  font-size: 0.875rem;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 500px;
  left: 1rem;
  @media screen and (max-width: 768px) {
    width: calc(100vw - 2 * 0.5rem);
    left: auto;
  }

  .logo {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    color: var(--sgs-color-progress-indicator);
    width: 3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sgs-search-results-scroll-container {
  flex: 1;
  overflow: auto;
}

.sgs-site-result-heading {
  background-color: var(--sgs-color-result-heading-backgorund);
  color: var(--sgs-color-result-heading-text);
  padding: 0.5rem 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.sgs-hit-list {
  list-style: none;
  margin: 0;
  padding: 0.25rem;

  &.sgs-offsite {
    background-color: var(--sgs-color-hit-hover-background);

    .sgs-hit-item>a:hover {
      background-color: var(--sgs-color-white);
    }
  }
}

.sgs-hit-item {
  scroll-margin: 10px;

  mark {
    color: var(--sgs-color-hit-highlight);
    background: inherit;
    padding: 0;
  }

  h6 {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: var(--sgs-color-hit-text);
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--sgs-color-hit-text);

    padding: 0.75rem;
    line-height: 1.5;
  }

  a:hover,
  &.sgs-hit-focused {
    background-color: var(--sgs-color-hit-hover-background);
  }
}

.sgs-hit-empty-state {
  display: block;
  text-decoration: none;
  color: var(--sgs-color-hit-text);
  padding: 0.75rem;
  line-height: 1.5;
}

.sgs-hit-context {
  margin-top: 0.25rem;
  display: flex;
  font-size: 0.75rem;
  color: var(--sgs-color-hit-context);

  .sgs-hit-context-left {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    padding-right: 0.25rem;
    flex: 1;
  }

  .sgs-hit-context-right {
    flex: 0;
  }
}

.sgs-expand-results-button {
  display: block;
  border: 0;
  background-color: var(--sgs-color-expand-results-background);
  border-radius: 3px;
  padding: 0.25rem 0.75rem;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  font-weight: bold;
  color: var(--sgs-color-expand-results-text);
  line-height: 28px;
}
