@media (min-width: 576px) {
  main {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  main {
    font-size: 1rem;

  }
}

@media (min-width: 1440px) {
  main {
    font-size: 1rem;
  }
}

@import '_includes/variables';
@import '_includes/bootstrap-overrides';
@import '_vendor/bootstrap/src/bootstrap';

@import '_includes/highlight';
@import '_includes/sidebar';
@import '_includes/title';
@import '_includes/process';
@import '_includes/pre';
@import '_includes/integrations';
@import '_includes/content';
@import '_includes/global-header';
@import '_includes/breadcrumb';
@import '_includes/alert';
@import '_includes/steps';
