---
layout: default
---

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 sidebar bg-dark py-5">
      {%- include sidebar/sections.html documents=site.dev_components -%}
    </div>
    <div class="col-12 col-md-9 col-xl-8 px-0">
      <div class="pt-3 pt-md-4 prose container-fluid-limited px-4">
        <h2 class="h2 mb-0">{{page.title}}</h2>
        <p><em>{{ page.source }}</em></p>
        {{ content }}
      </div>
    </div>
  </div>
</div>
