---
layout: doc
---

{{ page.content }}

{%- if page.arguments.size > 0 -%}
<h4>Arguments</h4>

<div class="list-group">
  {%- for arg in page.arguments -%}

  <div class="list-group-item content-flush-bottom">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><code>{{ arg.name }}</code></h5>
      <small>{% if arg.required %}<strong>(Required)</strong>{% else %}(Optional){% endif %}</small>
    </div>
    {{ arg.desc | markdownify }}
  </div>
  {%- endfor -%}
</div>
{%- endif -%}

<hr>

{%- for example in page.examples -%}
{%- if example.title -%}<h3>{{ example.title }}</h3>{%- endif -%}

  {%- if example.desc -%}
    {{ example.desc | liquify | markdownify }}
  {%- endif -%}

  <h4>Source</h4>

  {%- highlight liquid -%}{{- example.source -}}{%- endhighlight -%}

  <h4>Output</h4>

  <div class="p-3 mb-3 mb-md-5 border rounded content-flush-bottom">
  {{ example.output | default: example.source | liquify | markdownify }}
  </div>

{%- endfor -%}
