---
layout: doc
---

{%- if page.arguments.size > 0 -%}
<h4>Arguments</h4>

<ul>
  {%- for arg in page.arguments -%}
  <li><code>{{ arg.name }}</code> <em>{% if arg.require %}(Required){% else %}(Optional){% endif %}</em> {{ arg.desc }}</li>
  {%- endfor -%}
</ul>
{%- endif -%}

<hr>

{%- for example in page.examples -%}
{%- if example.title -%}<h3>{{ example.title }}</h3>{%- endif -%}

<h4>Source</h4>

<p><pre>{{- example.source -}}</pre></p>

<h4>Output</h4>

{{- example.source | liquify | markdownify -}}

{%- endfor -%}
