.breadcrumb-item {
  font-size: 14px;
  margin-right: 6px;
  margin-top: 0;
  text-wrap: nowrap;
  padding: 0;

  a {
    text-decoration: none;
    color: var(--gray-11);

    &:hover {
      color: var(--accent-purple);
      text-decoration: none;
    }
  }
}

.breadcrumb-item:not(:first-of-type)::before {
  content: '/';
  font-size: 12px;
  display: inline-block;
  margin-right: 6px;
  color: var(--gray-10);
}
