.breadcrumb-item {
  font-size: 14px;
  position: relative;

  a {
    text-decoration: none;
    color: var(--gray-11);

    &:hover {
      color: var(--accent-purple);
      text-decoration: none;
    }
  }
}

.breadcrumb-item:not(:last-of-type)::after {
  content: '›';
  font-size: 12px;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: var(--gray-800);
}
