.code-block {
  & ::selection {
    background-color: rgba(106, 95, 193, 0.5);
  }

  pre {
    background: #251f3d;
    border: 1px solid #40364a;
    border-radius: 0;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    font-family: var(--font-family-monospace);
  }

  pre[class*='language-'] {
    font-size: 0.85rem;
    border: 0;
    border-radius: 4px;
    margin: 0 0 1rem;
  }

  pre[class^='language-']:has(:global(.code-diff)) {
    padding-left: 0;
    padding-right: 0;
  }

  pre[class^='language-']:has(:global(.highlight-line)) {
    padding-left: 0;
    padding-right: 0;

    & :global(.code-line) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  /**
  * Line highlighting in code blocks
  *
  * 1. Make the element just wide enough to fit its content.
  * 2. Always fill the visible space in .code-highlight.
  */
  :globbal(.code-highlight) {
    // 1
    float: left;
    // 2
    min-width: 100%;
  }

  :global(.code-line) {
    display: block;
    float: left;
    min-width: 100%;
    box-sizing: border-box;
    // Set placeholder for highlight accent border color to transparent
    border-left: 4px solid rgba(0, 0, 0, 0);

    svg {
      display: inline;
    }
  }

  :global(.highlight-line) {
    background-color: rgba(239, 239, 239, 0.06);
    /* Set highlight bg color */
    border-left: 4px solid var(--brandPink);
  }

  /* Diff highlighting, classes provided by rehype-prism-plus */
  /* Set inserted line (+) color */
  :global(.diff-inserted),
  :global(.inserted) {
    background-color: rgba(16, 185, 129, 0.2);
  }

  /* Set deleted line (-) color */
  :global(.diff-deleted),
  :global(.deleted) {
    background-color: rgba(239, 68, 68, 0.2);
  }
}

.code-actions {
  display: grid;
  height: 32px;
  grid-template-columns: max-content max-content;
  grid-gap: 1rem;
  align-items: center;
  position: absolute;
  margin: 0 0.25rem;
  right: 0;
  top: -35px;
}

.filename {
  font-size: 0.75rem;
  color: var(--white);
  font-weight: normal;
}

.class-name {
  color: lightgrey;
}

.copy {
  font-size: 0.85rem;
  color: white;
  border: none;
  margin: 0;
  padding: 4px;
  background: none;
  outline: none;
  border-radius: 2px;
  transition: background 150ms ease-in-out;

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.25);
  }
}

.copied {
  position: absolute;
  right: 4px;
  top: 4px;
  margin: 0;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 0.85rem;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  color: var(--white);
  transition: opacity 150ms;
}
