.callout {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  line-height: 1.75rem;
  border: 1px solid var(--callout-highlight-color);

  p {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  strong {
    font-weight: 500;
  }

  ul,
  ol {
    padding-inline-start: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  li {
    padding-inline-start: 0;
    margin: 0;
  }

  .callout-header {
    font-weight: 500;
    color: inherit;

    & a {
      color: inherit;
    }

    &[role="button"] {
      cursor: pointer;
    }
  }
}

.callout-icon {
  flex: 1em 0 0;
  height: 1.75rem;
  color: var(--callout-highlight-color);

  &[role="button"] {
    cursor: pointer;
  }
}

.callout-content {
  min-width: 0;
}

.callout-info {
  --callout-highlight-color: var(--accent-11);
  background: var(--accent-2);
}

.callout-success {
  --callout-highlight-color: var(--successGreen);
  background: var(--successGreen);
  background: color-mix(in srgb, var(--successGreen), transparent 85%);
}

.callout-warning {
  --callout-highlight-color: var(--amber-10);
  background: var(--amber-2);
}
