.api-info-row {
  padding: 0.3rem 0;
}

.api-block {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  margin-bottom: var(--paragraph-margin-bottom);
}

.api-block-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0.75rem;
  font-size: 0.9rem;
}

.api-block-header.request {
  font-weight: 500;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  .api-request-block-verb {
    padding-right: 0.5rem;
  }

  :last-child {
    padding-right: 10px;
  }
}

.api-block-header.response {
  background: #2d2d2d;
  border-bottom: 1px solid #444;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.api-block-header.response .tabs-group .tab {
  border-left: 1px solid #444;
  color: #9990ab;
  cursor: pointer;

  &:first-child {
    padding-right: 8px;
    border: none;
  }

  &:not(:first-child) {
    padding-left: 8px;
  }
}

.response-status-btn-group {
  border-radius: 3px;
}

.response-status-btn {
  background: #2d2d2d;
  color: #9990ab;
  border: 1px solid #444;
  padding-left: 6px;
  padding-right: 6px;

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:not(:first-child):not(:last-child) {
    border-right: none;
  }
}

.response-status-btn.selected,
.api-block-header.response .tabs-group .tab.selected {
  color: var(--white);
}

.api-block-example {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  padding: 0.75rem;
}

.api-block-example.request {
  color: var(--white);
  background-color: #2d2d2d;
  border-radius: 4px;
}

.api-block-example.response {
  background: #2d2d2d;
  color: var(--white);
}

.api-params dd {
  padding: 0;

  p {
    margin: 0;
  }
}

.api-params dt {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  margin-top: 0;
  font-weight: normal;

  code {
    font-weight: 600;
    color: var(--codeColor);
  }

  em {
    font-size: 0.8em;
  }
}

.api-params .required {
  font-size: 0.6em;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0.6rem;
}
