.input {
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--desatPurple12);
  border-radius: 4px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.25rem 0.75rem;
  line-height: 1.8;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  outline: none;
  width: 100%;

  &:focus {
    border-color: var(--accent-purple);
    box-shadow: 0 0 0 0.2rem var(--accent-purple-light);
  }
}
