.alert {
  border-color: $border-color;

  markdown:last-child {
    display: block;
    margin-bottom: -1rem !important;
  }

  &.markdown-text-only markdown:last-child {
    margin-bottom: 0 !important;
  }

  > h5 {
    font-size: 1em;
  }

  .alert-body {
    font-size: 0.85em;
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(
      theme-color-level($color, -10),
      theme-color-level($color, -6),
      theme-color-level($color, 6)
    );
  }
}
