@font-face {
  font-family: "Rubik";
  src: asset-url("Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: asset-url("Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: asset-url("Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    &:hover .anchor {
      display: inline-block;
    }
  }

  h2:not(:first-child) {
    margin-top: 2rem;
  }

  hr {
    margin: 2rem 0;
    border-top: 1px solid $border-color;
  }

  .anchor {
    $icon-width: 12px;
    $icon-margin: 5px;
    display: none;
    position: absolute;
    margin-left: -($icon-width + $icon-margin);
    padding-right: $icon-margin;
    top: 0px;
    width: ($icon-width + $icon-margin);
    height: 1.2em;
    vertical-align: top;

    // overload for gatsby-remark-autolink-headers
    left: auto;
    transform: none;

    &:hover {
      text-decoration: none;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  img {
    max-width: 100%;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 0 2px rgba($border-color, 0.5);
  }

  table {
    @extend .table;
  }

  dt + dd {
    margin-top: $paragraph-margin-bottom;
    margin-bottom: $paragraph-margin-bottom;
  }

  pre {
    margin-bottom: $paragraph-margin-bottom;
  }

  blockquote {
    border-left: 3px solid $gray-300;
    padding-left: $paragraph-margin-bottom;
  }
}

// Config keys
h3.config-key {
  font-family: $font-family-monospace;
  font-size: 1.3rem;
}

// Remove the bottom margin from the final direct child.
//
// Example:
//
//  <.content-flush-bottom>
//    <p>This paragraph has a normal bottom margin</p>
//    <p>This paragraph does not have a bottom margin</p>
//  </.content-flush-bottom>
.content-flush-bottom > *:last-child {
  margin-bottom: 0 !important;
}

.family-sans {
  font-family: $font-family-base;
}

.family-mono {
  font-family: $font-family-monospace;
}

.bg-dark {
  hr {
    border-color: $mediumPurple;
  }
}

dd {
  margin-left: $spacer;
}

// Inserts an invisble zero-width, non-breaking space to prevent a word from
// breaking on the adjoining characters. Useful for stopping dashes from
// breaking in code blocks. The special character is placed into the ::after
// content so that it is not included when copy/pasting from code examples.
//
// Example:
// --watch
// -<span class="no-break"></span>-<span class="no-break"></span>watch
//
.no-break {
  white-space: nowrap;
  display: inline-block;
  width: 0;

  &::after {
    content: "\2060";
  }
}
