.promo-banner {
  background: var(--accent-yellow);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;

  a {
    color: inherit;
  }

  &.banner-module {
    border-radius: 5px;
    margin-bottom: 1rem;
  }
}

.promo-banner-message {
  margin-right: 3rem;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  text-align: left;

  >img {
    max-height: 3rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  >span a {
    text-decoration: underline;
    margin-left: 0.5rem;
  }
}

.promo-banner-dismiss {
  background: var(--flame6);
  height: 3rem;
  width: 3rem;
  line-height: 100%;
  font-size: 2.5rem;
  border-radius: 3rem;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75rem;
  border: 0;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: 576px) {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
  }
}
