.promo-banner {
  font-size: 15px;
  color: #21201c;
  background: var(--accent-yellow);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
  animation: slide-down 0.08s ease-out;

  a {
    color: inherit;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.promo-banner-message {
  margin-right: 3rem;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  text-align: left;

  > span a {
    text-decoration: underline;
    margin-left: 0.5rem;
  }
}

.promo-banner-dismiss {
  background: var(--flame6);
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  line-height: 100%;
  border-radius: 3rem;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75rem;
  border: 0;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 576px) {
    top: 1.5rem;
    right: 1rem;
  }
}
