name: Update Algolia index
on:
  push:
    branches:
      - master
jobs:
  index:
    name: Update Algolia index
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docs:
              - 'docs/**'
              - 'includes/**'
              - 'platform-includes/**'
            dev-docs:
              - 'develop-docs/**'
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.1.34'

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        id: setup-node
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      # bun seems to be the most straightforward way to run a TypeScript script
      # without introducing another dependency like ts-node or tsx for everyone else

      - name: Build index for user docs
        run: pnpm build && bun ./scripts/algolia.ts
        if: steps.filter.outputs.docs == 'true'
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          DOCS_INDEX_NAME: ${{ secrets.DOCS_INDEX_NAME }}
          NEXT_PUBLIC_ALGOLIA_APP_ID: ${{ secrets.NEXT_PUBLIC_ALGOLIA_APP_ID }}
          NEXT_PUBLIC_ALGOLIA_SEARCH_KEY: ${{ secrets.NEXT_PUBLIC_ALGOLIA_SEARCH_KEY }}
          SENTRY_DSN: https://examplePublicKey@o0.ingest.sentry.io/0
          NEXT_PUBLIC_SENTRY_DSN: https://examplePublicKey@o0.ingest.sentry.io/0

      - name: Build index for developer docs
        run: pnpm build:developer-docs && bun ./scripts/algolia.ts
        if: steps.filter.outputs.dev-docs == 'true'
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          DOCS_INDEX_NAME: ${{ secrets.DEVELOP_DOCS_INDEX_NAME }}
          NEXT_PUBLIC_ALGOLIA_APP_ID: ${{ secrets.NEXT_PUBLIC_ALGOLIA_APP_ID }}
          NEXT_PUBLIC_ALGOLIA_SEARCH_KEY: ${{ secrets.NEXT_PUBLIC_ALGOLIA_SEARCH_KEY }}
          SENTRY_DSN: https://examplePublicKey@o0.ingest.sentry.io/0
          NEXT_PUBLIC_SENTRY_DSN: https://examplePublicKey@o0.ingest.sentry.io/0
          NEXT_PUBLIC_DEVELOPER_DOCS: 1
